.messaging-sidebar-item {
	@include row();
	display: block;
	border-top: none;
	border-right: none;
	background-color: white;
	padding: 0.4em;
	border-bottom: 1px solid #E6E6E6;
	&:first-child {
		border-top: none;
	}
	&:hover {
		background-color: #F3F3F3;
	}
	&.current {
		background-color: #33B5E5;
		color: white;
	}
}

.messaging-sidebar-img {
	@include span-columns(1 of 3, block-collapse);
	img {
		display: block;
		width: 90%;
		height: 90%;
	}
}

.messaging-sidebar-info {
	@include span-columns(2 of 3, block-collapse);
	@include reset-display();
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
