$menu-checked-color: #33b5e5;
$menu-checked-bg-color: white;
$menu-hover-bg-color: #E6E6E6;

.menu-profile-image, .menu-profile-name {
	> a {
		display: inline-block;
	}
}

.menu-profile-name {
	h2 {
		color: black;
		font-weight: normal;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		&:hover {
			text-decoration: underline;
		}
	}
}

.menu-label {
	color: gray;
	font-size: 19px;
	font-weight: normal;
	padding: 5px;
}

.menu-item {
	padding: 4px;
	margin-bottom: 4px;
	border: 1px solid transparent;
	cursor: pointer;
	&:hover {
		background-color: $menu-hover-bg-color;
	}
	&.menu-checked {
		background-color: $menu-checked-bg-color;
		font-weight: bold;
		color: $menu-checked-color;
		border-color: $menu-checked-color;
		border-radius: 3px;
		&:hover {
			background-color: $menu-checked-bg-color;
		}
	}
}

.menu-item-icon {
	display: inline-block;
	width: 1.25em;
	text-align: center;
}
