$mobile: max-width 600px 4;
section.pageAbout {
    @include outer-container;
    max-width:1200px;
    div.trio-wrapper {
        overflow:hidden;
        height:auto;
        padding-bottom:0px;
    }
    div.trio{
        @include span-columns(4);
        @include media($mobile) {
            @include span-columns(4);
        }
    }
}
