.pageFeeds {
    @include outer-container;
    width:1000px;
    .post {
        h1 {
            font-weight:normal;
            margin-top:0px;
            margin-bottom:0px;
        }
        img {
            height:300px;
        }
        span {
            font-size:1.5em;
        }
        @include span-columns(12);
        @include boxes-default(10px);
    }
}
