.logo {
	margin: 50px auto;
	color: white;
	text-align: center;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72, 1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black;
	letter-spacing: 15px;
	font-size: 140px;
}

.page-home {
	margin: 50px auto 100px;
	min-width: 400px;
	max-width: 600px;
	max-height: 600px;
	width: 60%;
	input {
		position: relative;
		z-index: 1;
		display: inline-block;
		margin: 0;
		padding: 0.8em 1em;
		width: 100%;
		height: auto;
		font-size: 1.2em;
	}
	.button-group {
		width: 100%;
	}
	.button {
		width: (100%) / 3;
	}
}
