.home-sidebar-content {
    width:85%;
    h3 {
        color:grey;
        font-weight:bold;
        margin:8px 0px 2px;
    }
    ul {
        li {
            padding:4px;
            @include outer-container;
            .left {
                @include span-columns(1.5);
            }
            .right {
                @include span-columns(10.5);
                i {
                    float:right;
                }
            }
            &:hover {
                background-color: #E6E6E6;
                cursor:pointer;
            }
            &.checked {
                background-color:#33B5E5;
                font-weight:bold;
                color:white;
            }
            margin-bottom:4px;
        }
    }
}

.home-container {
    @include outer-container;
    max-width:900px;
}

.home-sidebar {
    @include span-columns(3);
    padding-top: 24px;
}

.home-feed {
    @include span-columns(9);
}

.home-profile-name h2 {
    font-weight:normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
