.home-sidebar-content {
	margin-top:24px;
	.top-container {
		@include outer-container;
		.top-left {
			@include span-columns(4);
			img {
				width:100%;
			}
		}
		.top-right {
			@include span-columns(8);
			h2 {
				font-weight:normal;
				margin-top:8px;
				margin-left:4px;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
	h3 {
		color:grey;
		font-weight:bold;
		margin:8px 0px 2px;
	}
	ul {
		li {
			padding:4px;
			@include outer-container;
			.left {
				@include span-columns(1.5);
			}
			.right {
				@include span-columns(10.5);
			}
			&:hover {
				background-color: #E6E6E6;
				cursor:pointer;
			}
			margin-bottom:4px;
		}
	}
}

.home-container {
	@include outer-container;
	max-width: 1000px;
}

.home-sidebar {
	@include span-columns(3);
}

.home-feed {
	@include span-columns(9);
}
