.inbox-container {
	@include outer-container;
	max-width: 1200px;
}

.inbox-row {
	@include outer-container;
	margin-bottom: 30px;
}

.inbox-left {
	@include span-columns(3);
}

.inbox-right {
	@include span-columns(9);
}

.inbox-offer-container {
	text-align: center;
}

.inbox-thumbnail {
	display: block;
	padding: 20px;
	background-color: white;
	box-shadow: $boxes;
	margin-bottom: 5px;
	img {
		width: 100%;
	}
}

.inbox-offer {
	display: block;
	padding: 10px;
	background-color: white;
	box-shadow: $boxes;
	margin-bottom: 1px;
}

.inbox-sold-button {
	background-color: #33B5E5;
	color: #FFF;
	padding: 0.3em 0.4em;
	box-shadow: $boxes;
	cursor: pointer;
}
