div#message, div[contenteditable], .post-message, .comment {
	display: block;
	padding: 8px 4px 4px 4px;
	width: 100%;
	height: auto;
	border: 1px solid rgb(200, 200, 200);
	background-color: white;
	word-wrap: break-word;
	font-size: 1.2em;
	line-height: 1.25em;
	resize: none;
	-webkit-writing-mode: horizontal-tb;
}

.messages-sidebar {
	@include span-columns(2);
	@include boxes-default(1px);
	.row-details {
		display: block;
		margin-bottom: 0.3em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.messages-container {
	@include outer-container;
	max-width: 1200px;
}

.message-thumbnail {
	@include span-columns(1.5);
}

.message-text {
	@include span-columns(10.5);
}

.messages-conversation {
	@include span-columns(10);
	margin-bottom: 50px;
}

.message {
	@include outer-container;
}

.messages-reply-container {
	@include span-columns(12);
}

.messages-sidebar, .message, .messages-reply-container {
	@include boxes-default(1px);
}

.message {
	padding: 10px 15px;
}

.messages-reply-container {
	padding: 0;
}

#messages-reply {
	padding: 10px;
	width: 100%;
	border: none;
}

.messages-sidebar-item {
	display: block;
	margin-bottom: 0.5em;
	&:last-child {
		margin-bottom: 0;
	}
}
