

div.product-body {
    text-align:center;

}

div#product-bid {
    textarea {
        margin: 0px;
        margin-bottom: 5px;
        font-size: 1.2em;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
    }
}

div.product-header{
    font-size:20px;
    text-align:center;
    padding:10px;
}

td.product-name {
    font-size:40px;
    color:black;
    padding:10px;
}

div.product-info {
    max-width:900px;
    margin:0 auto;
}

td.product-table-left {
    width:65%;
    vertical-align:top;
}
td.product-table-right {
    width:35%;
    padding-bottom:20px;
}

div.product-box {
    box-sizing: border-box;
    background: white;
    margin-bottom: 10px;
    text-align: left;
    color: black;
    padding: 20px;
    font-size: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    #message {
        width:300px;
    }
}

div.product-desc { padding:10px; }

span.product-box-title {
    color:#D8D8D8;
    background:rgb(51, 181, 229);
    padding:6px 20px;
    float:left;
    margin-top:-6px;

}

img.product-img {
    width:100%;
}


button.product-button {
    padding:6px 35px;
    background:#CEECF5;
    border:1px solid #013ADF;
    text-align:center;
    color:#013ADF;
    font-size:20px;
}
button.product-button:hover {
    font-weight:bold;
    background:#A9E2F3;
}


div.gmap {
    background: #E0F2F7;
    border: 2px solid #81F7F3;
    text-align:center;
    padding:5px;

    div.gmap-map {
        border: 1px solid white;
        padding:0;
    }

    div.gmap-text {
        font-size:14px;
        padding:5px;
    }
    div.gmap-text a {
        font-weight:bold;
        font-size:16px;
    }

    div.gmap-header {
        font-size:18px;
        font-weight:bold;
        padding:5px;
    }
}

div.condition-new {
    background:#0B610B;
    color:#A9F5A9;
}
div.condition-new span.product-box-title, span.seller-up {
    background:#A9F5A9;
    color:#0B610B;
    font-weight:bold;
}

div.condition-med {
    background:#5E610B;
    color:#F2F5A9;

    span.product-box-title {
        background:#F2F5A9;
        color:#5E610B;
        font-weight:bold;
    }
}

div.condition-bad {
    background:#610B0B;
    color:#F5A9A9;
}
div.condition-bad span.product-box-title, span.seller-down {
    background:#F5A9A9;
    color:#610B0B;
    font-weight:bold;
}

div.user-info {
    color:black;
    text-align:right;
    span.seller-name { font-size:25px; }

    span.product-box-title {
        background:#8A4B08;
        color:white;
    }

    div.prod-info {
        text-align:left;
        font-size:14px;
        margin-top:5px;
    }
}


div.user-rating {
    margin-top:10px;

    span {
        margin-right:8px;
        padding:0 8px;
    }
}

div.related-item-box {
    margin-top:50px;
    height:250px;
}

div.related-items-title {
    font-size:20px;
}

div.related-item {
    background:#E6E6E6;
    border:1px solid rgb(63, 159, 224);
    margin:5px;
    padding:10px;
    text-align:center;
    float:left;

    span.related-selling {
        background:#8A4B08;
        color:white;
        font-weight:bold;
        padding:0 5px;
    }

    img {
        max-width:100px;
        max-height:100px;
        margin:10px;
    }
}







table.messenger-table {
    width:100%;
    border:2px solid black;
}


td.mes-offer {
    border-top:2px solid #444444;
    background:#dddddd;
    padding:2px;
}
td.mes-offer-price {
    font-weight:bold;
    font-size:25px;
}
td.mes-item {
    border-right:2px solid #444444;
    padding:5px;
    width:162px;
    background:#BDBDBD;
    font-size:25px;
    font-weight:bold;
    vertical-align:top;

    img {
        max-width:150px;
        max-height:150px;
        margin:5px;
        border:1px solid #444444;
    }
}

tr.mes-spacer td {
    font-size:8px;
    background:black;
}
td.mes-item-name {
    font-size:25px;
    padding:7px 7px 7px 40px;
    text-align:left;
    background:#BDBDBD;

    a { color:#3C56DA; }
}
td.mes-type {
    font-size:25px;
    font-weight:bold;
    padding:7px;
    text-align:center;
    border-right:2px solid #444444;
}
td.mes-offer-ops {
    text-align:right;
}



table.msgs { width:100%; }
table.msgs td {
    padding:5px;
    border-top:1px solid black;
}

td.msgs-left {
    width:120px;
    text-align:right;

    div.msgs-name {
        font-weight:bold;
    }

    div.msgs-date {
        font-style:italic;
    }
}

td.msgs-right {
    vertical-align:middle;
    text-align:left;
}


.box-green, .box-red { padding:5px; }
.box-green {
    background:#0B610B;
    color:#A9F5A9;
    border:1px solid #A9F5A9;
}

.box-red {
    background:#610B0B;
    color:#F5A9A9;
    border:1px solid #F5A9A9;
}

.pageProduct {
        h1 {
            font-weight:normal;
        }
    @include outer-container;
    font-size:1.3em;
    max-width:1200px;
    font-weight:300;
    .container {
        @include span-columns(12);
    .pic {
        @include span-columns(7);
    }
    .info {
        @include span-columns(5);
    }
    .product-box {
        b {
            font-weight:normal;
        }
        box-sizing: border-box;
        background: white;
        margin-bottom: 10px;
        text-align: left;
        color: black;
        padding: 20px;
        font-size: 1em;
        border-radius: 2px;
        #message {
            width:100%;
        }
        box-shadow: $boxes;
    }
}

}
