.userInfo {
    width:85%;
    margin-top:24px;
    img {
        border:1px solid lightgrey;
    }
    h2 {
        font-size:2em;
        font-weight:normal;
    }
    ul {
         li {
            background-color:#3b5998;
            padding: 4px;
            color:white;
            border-radius:4px;
            &.fb {
                padding:6px 8px;
            }
         }
    }
}

.profile {
    &.right-column {
        .home-feed {
            @include span-columns(12);
        }
    }
}
