.page-signup {
    width:70%;
    margin:0 auto;
    hr {
        margin-top:16px;
        margin-bottom:16px;
        border:0px;
        border-bottom: 1px solid lightgrey;
    }
    h1, h3 {
        margin: 0 auto;
        text-align: center;
        font-weight:300;
        font-size: 1.5em;
        margin-bottom:16px;
        width:auto;
    }
    h2 {
        font-size:2em;
        font-weight:normal;
        margin:0 auto;
        text-align:center;
        margin-bottom:16px;
    }
    h1 {
        font-weight: 300;
        margin-top:24px;
        margin-bottom:16px;
        font-size:4em;
        border-bottom:1px solid lightgrey;
    }
    h5 {
        text-align:center;
        font-weight:normal;
        margin-top:8px;
    }
    h4 {
        margin-top:16px;
        font-weight:normal;
        font-size:1.5em;
    }
    .fb-button {
        min-width:400px;
        width:30%;
        margin:0 auto;
    }
    .refBox {
        img {
        border: 1px solid lightgrey;
        margin:0 auto;
        display:block;
        
        }
    }
    .refBoxMulti {
        img{
            border: 1px solid lightgrey;
            margin:0 auto;
            display:inline-block;
        }
    }
    
    input[type=text] {
        color:grey;
        padding:8px;
        width:400px;
    }
}
