@mixin responsive-grid-positioning(
	$class-name,
	$max-columns: 4,
	$min-column-width: 200px
) {
	.#{$class-name} {
		@include span-columns(12);
		@include neat-margin(bottom, 12);

		@for $i from 2 through $max-columns {
			@media only screen and (min-width: $min-column-width * $i) {
				@include reset-omega(#{$i - 1}n);
				@include span-columns(12 / $i);
				@include omega(#{$i}n);
				@include neat-margin(bottom, 12 / $i);
			}
		}
	}
}

@mixin items(
	$font: "Droid Serif"
) {
	.items-container {
		@include outer-container;
		.categories {
			@include span-columns(3);
			@include pad(1%);
		}
		.items {
			@include span-columns(9);
		}
	}

	.items {
		@include outer-container;
		@include pad(3%);
		max-width: 2000px;
		font-family: $font;
	}

	.item {
		border-radius: 2px;
		background-color: white;
		box-shadow: 1px 1px 5px -3px gray;

		img {
			width: 100%;
		}
	}

	.item-desc {
		padding: 3% 5%;
		line-height: 1.4em;
		//background-color: #353535;
		//color: white;
	}

	.item-name {
		text-align: center;
	}

	.item-price {
		text-align: center;
		color: #3F9FE0;
		.price-retail {
			font-size: 0.8em;
			color: gray;
			text-decoration: line-through;
			margin-right: 5px;
		}
	}

	@include responsive-grid-positioning(item);
}
@include items();
