<template name ="pageReferralCenter">
    {{#if currentUser}}
    <div class="page-signup">
        <h1>Referral Center</h1>
        <h3>Invite your friends to join the Base community today by sharing your referral link with them! If you invite just <b>three</b> friends to join, you will get this cool recruiter badge next to your name: 
        </h3>
            {{#with profile}}
            <div class="refBox"> 
                <h2><i style="color:#33B5E5" class="fa fa-paper-plane-o"></i> {{name}}</h2>
                <img src="{{img}}" />   
            </div>
            <h4>Referral Link</h4> <input name="referral_link" readonly="readonly" type="text" value="{{refUrl}}"/>
            <hr />
            <h3>Referrals done so far: <b>{{refCount}}</b></h3> 
                <div class="refBoxMulti">
            {{#each referrals}}
            <a href="/profile/{{this._id}}"><img src="{{this.profile.img}}"/></a>
            {{/each}}
                </div>
        {{/with}}
        </div>
    {{/if}}

</template>
