<template name = "pageSignup">
    <div class= "page-signup">
        {{#if ref}}
        <h1>Welcome!</h1>
                <h3>Your friend, <b>{{ref.profile.name}}</b> has invited you to try out Base.</h3>
                <div class = "refBox">
                <img src="{{ref.profile.img}}"/>
            </div>
        {{else}}
        <h1>Welcome to Base!</h1>
        {{/if}}
        <br />
        <h3>Base is a social platform for buying and selling goods locally. <br /> Sign up by connecting your Facebook account today!</h3>
	<div class="fb-button" id="fb-signup-login"><i class="fa fa-facebook-square"></i>Login with Facebook</div>
        <h5>Don't worry, we'll never post anything without your permission</h5>

    </div>
</template>
