<template name = "pageSignup">
    <div class= "page-signup">
        <h1>Welcome to Base!</h1>
        {{#if ref}}
        <img src="{{ref.profile.imgUrl}}"/>Your friend {{ref.profile.fullName}} referred you!
        {{/if}}
        <h3>Base is a social platform for buying and selling goods locally. <br /> Sign up by connecting your Facebook account today!</h3>
	<div class="fb-button" id="fb-signup-login"><i class="fa fa-facebook-square"></i>Login with Facebook</div>
        <h5>Don't worry, we'll never post anything without your permission</h5>

    </div>
</template>
