<template name="homeSidebar">
<div class="home-sidebar">
    <div class="home-sidebar-content">
        {{> homeSidebarUser}}
        {{> homeSidebarFilters}}
        {{> homeSidebarFeeds}}
    </div>
</div>
</template>

<template name="homeSidebarUser">
{{#if currentUser}}
{{#with profile}}
<div class="home-profile-container">
    <div class="home-profile-image">
        <a href="/profile/{{myId}}">
        <img src="{{img}}">
    </a>
    </div>
    <div class="home-profile-name">
        <h2>{{name}}</h2>
    </div>
</div>
{{/with}}
<ul>
    <li id="filter-everyone" class="{{#if everyoneOn}} checked {{/if}}">
    <div class="left"><i class="fa fa-globe"></i>
    </div>
    <div class="right">Everyone{{#if everyoneOn}}<i class="fa fa-arrow-circle-o-right"></i>{{/if}}</div>
    </li>
    <li id="filter-friends" class="{{#if friendsOn}} checked {{/if}}">
    <div class="left"><i class="fa fa-group"></i>
    </div>
    <div class="right">Friends{{#if friendsOn}}<i class="fa fa-arrow-circle-o-right"></i>{{/if}}</div>
    </li>
</ul>
{{/if}}
</template>
<template name="homeSidebarFilters">
<h3>Filters</h3>
<ul>
    <a href="">
        <li id="filter-buy" class="{{#if buyOn}} checked {{/if}}">
        <div class = "left"><i class = "fa fa-shopping-cart"></i></div>
        <div class = "right">Buy{{#if buyOn}}<i class= "fa fa-arrow-circle-o-right"></i>{{/if}}</div>
        </li>
    </a>
    <a href="">
        <li id="filter-sell" class="{{#if sellOn}} checked {{/if}}">
        <div class = "left"><i class = "fa fa-money"></i></div>
        <div class = "right">Sell{{#if sellOn}}<i class="fa fa-arrow-circle-o-right"></i>{{/if}}</div>
        </li>
    </a>
</ul>
</template>

<template name="homeSidebarFeeds">
<h3>Feeds</h3>
<ul>
    <a href="/">
        <li class="{{#if allFeed}}checked{{/if}}">
        <div class="left"><i class="fa fa-sun-o"></i>
        </div>
        <div class="right">All{{#if allFeed}}<i class="fa fa-arrow-circle-o-right"></i>{{/if}}</div>
        </li>
    </a>
    {{#each feeds}}
    <a href="/feeds/{{this._id}}">
        <li class="{{#if currentFeed}}checked{{/if}}">
        <div class="left"><i class="fa fa-{{this.icon}}"></i>
        </div>
        <div class="right">{{this.name}}{{#if currentFeed}}<i class="fa fa-arrow-circle-o-right"></i>{{/if}}</div>
        </li>
    </a>
    {{/each}}
</ul>
</template>
