<template name="home">
	<section class="home-container">
		<!--
		<div class="content">
		    <div id="title" style="letter-spacing:-10px" class="title">
		        bas<span>e</span>
		    </div>
		    <form id="search-form" action="/search">
		        <input id="search" name="q" type="text" placeholder="Search...">
		    </form>
		</div>
		-->
		{{> homeSidebar}}
		<div class="home-feed">
			{{#if feed}}
				<h1>{{feed.name}}</h1>
			{{/if}}
			{{> postBox}}
			{{> pageFeeds}}
		</div>
	</section>
</template>
