<!-- TEMPLATE FOR CREATING NEW POST -->
<template name="homePost">
	<div class="home-post-container">
		{{> homePostHeader}}
		{{> homeBuyPost}}
		{{> homeSellPost}}
	</div>
</template>

<template name="temp">
	<div class="home-post-container">
		<input id="sell-image" class="image-input" type="file" />
		<label for="sell-image"><i class="fa fa-camera"></i></label>
		</div>
</template>


<template name="homePostHeader">
	<div class="home-post-header">
		What would you like to do?
		<form>
			<input id="home-sell-radio" type="radio" name="type" value="sell">
			<label for="home-sell-radio"><i class="fa fa-money"></i> Sell</label>
			|
			<input id="home-buy-radio" type="radio" name="type" value="buy">
			<label for="home-buy-radio"><i class="fa fa-shopping-cart"></i> Buy</label>
		</form>
	</div>
</template>

<template name="homeSellPost">
	<div id="home-sell-container" class="home-post-body">
		{{#unless feed}}
			<div class="home-feeds-list">
				Pick a feed to publish to:
				<form>
					{{#each feeds}}
						<input id="sell-{{this._id}}" class="highlight-radio" type="radio" name="feed" value={{this._id}}>
						<label for="sell-{{this._id}}" class="highlight-label"><i class="fa fa-{{this.icon}}"></i> {{this.name}}</label>
					{{/each}}
				</form>
			</div>
		{{/unless}}
		<input type="text" id="item-title" name="title" placeholder="What is your item called?">
		<br />
		<textarea id="sell-description" placeholder="Describe your item. Make sure you mention the starting offer/buyout price" class="post-message"></textarea>
		<input id="sell-image" class="image-input" type="file" />
		<label for="sell-image"><i class="fa fa-camera"></i></label>
		<div id="sell-post" class="button right">Post</div>
		<br />
		<img id="sell-preview" class = 'image-preview' src=""/>
	</div>
</template>

<template name="homeBuyPost">
	<div id="home-buy-container" class="home-post-body">
		{{#unless feed}}
			<div class="home-feeds-list">
				Pick a feed to publish to:
				<form>
					{{#each feeds}}
						<input id="buy-{{this._id}}" class="highlight-radio" type="radio" name="feed" value={{this._id}}>
						<label for="buy-{{this._id}}" class="highlight-label"><i class="fa fa-{{this.icon}}"></i> {{this.name}}</label>
					{{/each}}
				</form>
			</div>
		{{/unless}}
		<br />
		<textarea id="buy-description" placeholder="What are you looking for?" class="post-message"></textarea>
		<div id="buy-post" class="button right">Post</div>
	</div>
</template>
