<template name="messagingPost">
    <div class="messagingPost">
        <div id="message-{{this._id}}" contenteditable="true" class="messageText"></div><a href=""><div class="messageSend"><i class="fa fa-chevron-right"></i></div></a>
    </div>
</template>

<template name="messaging">
	<section class="messaging-container">
		{{> messagingSidebar}}
		{{> messagingConversation}}
	</section>
</template>

<template name="messagingSidebar">
	<div class="messaging-sidebar">
		{{#each conversations}}
			<a href="/messages/{{this._id}}" class="messaging-sidebar-item">
				<div class="messaging-sidebar-img">
					<img src="{{this.otherUser.profile.img}}">
				</div>
				<div class="messaging-sidebar-name">{{this.name}}</div>
				<!--{{json this}}-->
			</a>
		{{else}}
			You don't have any conversations yet.
		{{/each}}
	</div>
</template>

<template name="messagingConversation">
	<div class="messaging-conversation">
		{{> messagingInfo}}
		<div class="messages-container">
			<div class="messaging-messages">
				{{#each messageGroups}}
					{{> message}}
				{{/each}}
			</div>
		</div>
		<div class="messaging-reply-container">
            <div class="message-reply-box">
			<div id="messaging-reply" contenteditable="true" class="message-reply-text" placeholder="Message..."></div>
            <footer>
		            <input id= "add-image" class="image-input" type="file" />
                   <label for="add-image">
                <div class="photo-upload">
                    <a href=""><i class="fa fa-camera"></i></a> Add Photos
                </div>
            </label>
            <h4>Press Enter to send</h4>

            </footer>
            <img id ="add-preview" class="image-preview" src=""/> 
        </div>
		</div>
	</div>
</template>

<template name="message">
	<div class="message">
		<!--<div class="message-header">
			<div class="message-poster-name">{{this.posterName}}</div>
			<div class="message-time"></div>
		</div>
		<div class="message-text">{{this.text}}</div>-->
        <div class="left">
            <a href="/profile/{{sender._id}}"><img src="{{sender.profile.img}}" /></a>
        </div><div class="middle">
            <h4><a href="/profile/{{sender._id}}">{{sender.profile.name}}</a></h4>
            {{#each this}}
            <span>{{this.text}}</span>
            {{/each}}
        </div><div class="right">
            {{date}}
        </div>
	</div>
</template>

<template name="messagingInfo">
	<div class="messaging-info">
		{{#with conversation}}
			{{#if this.isGroup}}
				roflcopter
			{{else}}
				<a href="/profile/{{this.otherUser._id}}" class="messaging-info-name">
					{{this.otherUser.profile.name}}
				</a>
			{{/if}}
		{{/with}}
	</div>
</template>
