$i-pad : 14px;

body {
    padding: 0px;
    margin: 0px;
    min-width: 400px;
    font-family: $textFont;
    background-color: whiteSmoke;
}

a {
    color: #33b5e5;
}

h1.logo {
    font-size: 140px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -30px;
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72, 1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black;
    text-align: center;
    letter-spacing: 15px;
    color: white;
}

input {
    padding: $i-pad;
    display: inline-block;
    outline: 1px solid #eee;
    border: 0px;
    font-size: 1.2em;

    &:focus {
	outline-color: #3F9FE0;
    }
}

.page-box {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: auto;
    max-height: 600px;
    min-width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    border: 1px solid #d8dcea;
    padding: 20px;
    transition: all .25s ease-in;
    overflow: auto;
    h1, h2, h3, h4, h5 {
	margin: 0 auto;
    }
}

.page-home {
    width: 60%;
    max-width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    input {
	width: 80%;
	margin: 0 auto;
	display: block;
    }
    .button-wrapper {
	width: calc(80% + 30px);
	margin: 0 auto;
	display: block;
	text-align: -webkit-center;
    }
    .button {
	width: calc(33.33% - 130px);
	display: inline-block;
	&:nth-child(1) {
	    border-bottom-left-radius: 8px;
	}
	&:nth-child(3) {
	    border-bottom-right-radius: 8px;
	}
    }
}


.page-product {
    overflow: auto;
    width: 80%;
    h1 {
	display: inline-block;
    }
    h3 {
	display: inline-block;
    }
    div {
	width: calc(50% - 20px);
	height: 100%;
	float: left;
	display: inline-block;
    }
    div.info {
	img {
	    width: 300px;
	    margin: 0 auto;
	    display: block;
	}
	div.user-info {
	    padding: 0px 10px;
	    width: calc(100% - 20px);
	    margin: 0 auto;
	    outline: 0px;
	    div {

		background-color: #f0f0f0;
		width: calc(100% - 40px);
		outline: 0px;
		padding: 10px 20px;
		h2 {
		    margin: 0px;
		    text-align: left;

		}
	    }
	}
    }
    div.product-info {
	padding: 0px 10px;
	table {
	    border-spacing: 0px;
	    tbody {
		tr {
		    td {
			padding-right: 20px;
		    }
		}
	    }
	}
	a {
	    text-align: center;
	}
    }
}

.page-addProduct {
    width: 60%;
    overflow-x: hidden;
    input, select,option, div[contenteditable] {
	padding: $i-pad;
	display: inline-block;
	outline: 1px solid #eee;
	border: 0px;
	font-size: 1.2em;

	&:focus {
	    outline-color: #3F9FE0;
	}
    }
    input[type=text] {
	width: calc(78% - 28px);
	margin-bottom: 10px;
    }
    input[type=number] {
	width: calc(20% - 30px);
	padding: 10px;
	margin-right: 1.5%;
    }
    select,option {
	width: 20%;
    }
    div[contenteditable] {
	width: calc(100% - $i-pad * 2) ;
	height: 100px;
	line-height: 1.2em;
	display: block;
	overflow-y: scroll;
    }

    span {
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
	margin-left: 2%;
    }
    .button {
	width: calc(20% - 28px);
	padding: 14px;
	border-radius: 0 0 4px 0;
    }

    div.preview {
	padding: 25px;
	border: 1px solid;
	margin: 0 auto;
    }
    .button {
	display: inline-block;
    }
    h3 {
	margin-bottom: 10px;
    }
    .describe {
	.button {
	    float: right;
	}
    }
    .condition {
	option, div {
	    margin: 0 auto;
	}
    }
}

.button {
    cursor: default;
    padding: 14px 63.5px;
    text-align: center;
    color: #444;
    background-color: white;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    border: 1px solid #eee;
    display: block;
    &:hover {
	background-color: #33b5e5;
	color: white;
	cursor: pointer;
    }
}

fieldset.show , div.show {
    display: block;
}

.no-show {
    display: none;
}


footer {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    font-family: $textFont;
    min-width: 400px;
}
