@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
/* line 3, _style.scss */
body {
  padding: 0px;
  margin: 0px;
  min-width: 400px;
  font-family: "Roboto Condensed";
  background-color: whiteSmoke; }

/* line 11, _style.scss */
header {
  padding: 10px 0px;
  background-color: #3F9FE0;
  border-bottom: 1px solid #378cc5;
  box-shadow: rgba(0, 0, 0, 0.24706) 0px 0px 8px 0px;
  font-family: "Roboto Condensed";
  font-size: 1.4em;
  color: white;
  width: 100%;
  min-width: 400px; }
  /* line 21, _style.scss */
  header a {
    font-weight: bold;
    color: white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
    margin-left: 40px; }
    /* line 26, _style.scss */
    header a:link {
      text-decoration: none; }
  /* line 31, _style.scss */
  header ul {
    padding: 0px;
    margin: 0px;
    float: right;
    display: inline-block;
    list-style-type: none; }
    /* line 37, _style.scss */
    header ul li {
      margin-right: 50px;
      display: inline-block; }

/* line 45, _style.scss */
a {
  color: #33b5e5; }

/* line 49, _style.scss */
h1.logo {
  font-size: 140px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: -30px;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72, 1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black;
  text-align: center;
  letter-spacing: 15px;
  color: white; }

/* line 60, _style.scss */
input {
  padding: 14px;
  display: inline-block;
  outline: 1px solid #eee;
  border: 0px;
  font-size: 1.2em; }
  /* line 67, _style.scss */
  input:focus {
    outline-color: #3F9FE0; }

/* line 72, _style.scss */
.page-box {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: auto;
  max-height: 600px;
  min-width: 400px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #d8dcea;
  padding: 20px;
  transition: all .25s ease-in;
  overflow: auto; }
  /* line 87, _style.scss */
  .page-box h1, .page-box h2, .page-box h3, .page-box h4, .page-box h5 {
    margin: 0 auto; }

/* line 92, _style.scss */
.page-home {
  width: 60%;
  max-width: 600px;
  padding-top: 40px;
  padding-bottom: 40px; }
  /* line 97, _style.scss */
  .page-home input {
    width: 80%;
    margin: 0 auto;
    display: block; }
  /* line 102, _style.scss */
  .page-home .button-wrapper {
    width: calc(80% + 30px);
    margin: 0 auto;
    display: block;
    text-align: -webkit-center; }
  /* line 108, _style.scss */
  .page-home .button {
    width: calc(33.33% - 130px);
    display: inline-block; }
    /* line 111, _style.scss */
    .page-home .button:nth-child(1) {
      border-bottom-left-radius: 8px; }
    /* line 114, _style.scss */
    .page-home .button:nth-child(3) {
      border-bottom-right-radius: 8px; }

/* line 121, _style.scss */
.page-product {
  overflow: auto;
  width: 80%; }
  /* line 124, _style.scss */
  .page-product h1 {
    display: inline-block; }
  /* line 127, _style.scss */
  .page-product h3 {
    display: inline-block; }
  /* line 130, _style.scss */
  .page-product div {
    width: calc(50% - 20px);
    height: 100%;
    float: left;
    display: inline-block; }
  /* line 137, _style.scss */
  .page-product div.info img {
    width: 300px;
    margin: 0 auto;
    display: block; }
  /* line 142, _style.scss */
  .page-product div.info div.user-info {
    padding: 0px 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    outline: 0px; }
    /* line 147, _style.scss */
    .page-product div.info div.user-info div {
      background-color: #f0f0f0;
      width: calc(100% - 40px);
      outline: 0px;
      padding: 10px 20px; }
      /* line 153, _style.scss */
      .page-product div.info div.user-info div h2 {
        margin: 0px;
        text-align: left; }
  /* line 161, _style.scss */
  .page-product div.product-info {
    padding: 0px 10px; }
    /* line 163, _style.scss */
    .page-product div.product-info table {
      border-spacing: 0px; }
      /* line 167, _style.scss */
      .page-product div.product-info table tbody tr td {
        padding-right: 20px; }
    /* line 173, _style.scss */
    .page-product div.product-info a {
      text-align: center; }

/* line 179, _style.scss */
.page-addProduct {
  width: 60%;
  overflow-x: hidden; }
  /* line 182, _style.scss */
  .page-addProduct input, .page-addProduct select, .page-addProduct option, .page-addProduct div[contenteditable] {
    padding: 14px;
    display: inline-block;
    outline: 1px solid #eee;
    border: 0px;
    font-size: 1.2em; }
    /* line 189, _style.scss */
    .page-addProduct input:focus, .page-addProduct select:focus, .page-addProduct option:focus, .page-addProduct div[contenteditable]:focus {
      outline-color: #3F9FE0; }
  /* line 193, _style.scss */
  .page-addProduct input[type=text] {
    width: calc(78% - 28px);
    margin-bottom: 10px; }
  /* line 197, _style.scss */
  .page-addProduct input[type=number] {
    width: calc(20% - 30px);
    padding: 10px;
    margin-right: 1.5%; }
  /* line 202, _style.scss */
  .page-addProduct select, .page-addProduct option {
    width: 20%; }
  /* line 205, _style.scss */
  .page-addProduct div[contenteditable] {
    width: calc(100% - $i-pad * 2);
    height: 100px;
    line-height: 1.2em;
    display: block;
    overflow-y: scroll; }
  /* line 213, _style.scss */
  .page-addProduct span {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    margin-left: 2%; }
  /* line 219, _style.scss */
  .page-addProduct .button {
    width: calc(20% - 28px);
    padding: 14px;
    border-radius: 0 0 4px 0; }
  /* line 225, _style.scss */
  .page-addProduct div.preview {
    padding: 25px;
    border: 1px solid;
    margin: 0 auto; }
  /* line 230, _style.scss */
  .page-addProduct .button {
    display: inline-block; }
  /* line 233, _style.scss */
  .page-addProduct h3 {
    margin-bottom: 10px; }
  /* line 237, _style.scss */
  .page-addProduct .describe .button {
    float: right; }
  /* line 242, _style.scss */
  .page-addProduct .condition option, .page-addProduct .condition div {
    margin: 0 auto; }

/* line 248, _style.scss */
.button {
  cursor: default;
  padding: 14px 63.5px;
  text-align: center;
  color: #444;
  background-color: white;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  border: 1px solid #eee;
  display: block; }
  /* line 258, _style.scss */
  .button:hover {
    background-color: #33b5e5;
    color: white;
    cursor: pointer; }

/* line 265, _style.scss */
fieldset.show, div.show {
  display: block; }

/* line 269, _style.scss */
.no-show {
  display: none; }

/* line 274, _style.scss */
footer {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  font-family: "Roboto Condensed";
  min-width: 400px; }
