@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  *behavior: url("/scripts/boxsizing.htc");
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus, *:before:focus, *:after:focus {
    outline: none; }

body {
  position: absolute;
  height: 100%;
  width: 100%; }

a {
  color: #33B5E5;
  text-decoration: none; }

li {
  list-style: none; }

p {
  line-height: 1.5em;
  font-size: 1.2em; }

#fbLogin {
  background-color: #3b5998;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px !important; }

input[type="email"].placeholder, input[type="number"].placeholder, input[type="password"].placeholder, input[type="search"].placeholder, input[type="tel"].placeholder, input[type="text"].placeholder, input[type="url"].placeholder {
  font-weight: 300; }
input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="url"]:-moz-placeholder {
  font-weight: 300; }
input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="url"]::-moz-placeholder {
  font-weight: 300; }
input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder {
  font-weight: 300; }
input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder {
  font-weight: 300; }

.button {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  padding: 1em;
  border: 1px solid #EEE;
  background-color: white;
  color: #444;
  cursor: pointer;
  text-align: center;
  text-decoration: none; }
  .button:hover {
    background-color: #3F9FE0;
    color: white; }

.search-group input {
  width: 90%; }

.button-group {
  display: inline-block;
  border: 1px solid #EEE;
  background-color: white; }
  .button-group .button {
    display: inline-block;
    border-width: 0;
    border-right-width: 1px; }
    .button-group .button:last-child {
      border-width: 0; }

.box {
  margin: 50px auto;
  padding: 40px;
  border: 1px solid #D8DCEA;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); }

body {
  background: #F7F7F7;
  font-family: 'Source Sans Pro', sans-serif; }

section.body {
  max-width: 900px;
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto; }
  section.body:after {
    content: "";
    display: table;
    clear: both; }

.right-column {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%; }
  .right-column:last-child {
    margin-right: 0; }

.left-column {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .left-column:last-child {
    margin-right: 0; }

.header {
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #378cc5;
  background-color: #3F9FE0;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 8px 0px;
  color: white;
  font-size: 1.4em; }
  .header a {
    margin-left: 40px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 22px;
    padding: 10px 0px; }
    .header a:link {
      text-decoration: none; }
  .header ul.dropdown {
    display: none; }
  .header div#user-wrapper {
    float: right;
    margin-right: 50px;
    height: 42px;
    padding-right: 10px;
    line-height: 42px;
    cursor: pointer; }
  .header ul#nameDrop {
    position: absolute;
    right: 0px;
    top: 15px;
    border-right: 1px solid #378cc5;
    border-left: 1px solid #378cc5;
    background-color: white;
    list-style-type: none;
    padding: 0px;
    margin-right: 50px;
    color: black;
    font-size: 1em;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.247059) 1px 1px 8px; }
    .header ul#nameDrop li {
      border-bottom: 1px solid #378cc5;
      padding: 5px; }
      .header ul#nameDrop li:hover {
        background-color: #3F9FE0;
        color: white; }

header {
  background: white;
  color: black;
  padding: 0.5em 1em;
  border-bottom: 2px solid #E6E6E6; }
  header > .content {
    max-width: 1000px;
    height: 40px;
    margin: 0 auto; }
    header > .content > * {
      vertical-align: middle; }
    header > .content .logo {
      display: inline-block;
      height: 100%; }
    header > .content img {
      height: 100%; }
    header > .content form {
      display: inline-block;
      margin-left: 1em;
      height: 100%;
      width: 60%; }
    header > .content input {
      -webkit-transition: border 0.3s, color 0.3s, width 0.3s;
      -moz-transition: border 0.3s, color 0.3s, width 0.3s;
      transition: border 0.3s, color 0.3s, width 0.3s;
      border-radius: 2px;
      vertical-align: middle;
      border: 1px solid #E6E6E6;
      color: #E6E6E6;
      padding: 0 0.6em;
      font-size: 23px;
      font-weight: 300;
      width: 60%;
      height: 100%;
      background-color: #FCFCFC;
      border: none;
      box-shadow: 1px 1px 1px #f1e8e8; }
      header > .content input:hover, header > .content input:focus {
        box-shadow: 0px 0px 2px rgba(52, 91, 119, 0.3); }
      header > .content input:focus {
        outline: none;
        border: 1px solid #50A8E7;
        color: #50A8E7;
        width: 100%; }
    header > .content .user-wrapper {
      display: inline-block;
      float: right; }
      header > .content .user-wrapper h2 {
        vertical-align: middle;
        display: inline-block;
        color: #50a8e7;
        font-weight: normal;
        font-size: 1.4em;
        margin-right: 16px; }
      header > .content .user-wrapper img {
        vertical-align: middle;
        height: 2.5em;
        margin-right: 10px; }
      header > .content .user-wrapper span {
        color: #f39c12; }
    header > .content .btn-login {
      background: #50a8e7;
      color: white;
      float: right;
      padding: 0 1.1em;
      border-radius: 3px;
      border: 1px solid #008FD3;
      font-size: 20px;
      height: 100%;
      line-height: 100%; }
    header > .content .link {
      vertical-align: middle;
      margin-right: 0.8em;
      font-size: 1.4em;
      position: relative; }
    header > .content .dropdown {
      position: absolute;
      width: 400px;
      font-size: 1em;
      border: 1px solid #50A8E7;
      right: 0px;
      margin-top: 8px;
      background: white;
      opacity: 0.9;
      z-index: 999; }
      header > .content .dropdown.hide {
        display: none; }
      header > .content .dropdown.show {
        display: block; }
      header > .content .dropdown li {
        max-width: em(3000);
        margin-left: auto;
        margin-right: auto;
        min-height: 48px;
        border-top: 1px solid lightgrey;
        color: black; }
        header > .content .dropdown li:after {
          content: "";
          display: table;
          clear: both; }
        header > .content .dropdown li.unread {
          background-color: #ebebeb; }
        header > .content .dropdown li .icon {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 14.7019570017%; }
          header > .content .dropdown li .icon:last-child {
            margin-right: 0; }
        header > .content .dropdown li .text {
          font-size: 16px;
          padding: 4px;
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 82.9403914003%; }
          header > .content .dropdown li .text:last-child {
            margin-right: 0; }

.header-notice {
  width: 100%;
  background-color: #f39c12;
  border-bottom: 2px solid #E6E6E6;
  text-align: center;
  padding: 8px;
  color: white; }

.footer {
  padding: 14px 40px;
  width: 100%;
  border-top: 1px solid #DDD;
  background-color: whitesmoke;
  color: #33B5E5; }
  .footer > span {
    margin-left: 20px; }

.home-sidebar-content {
  width: 85%; }
  .home-sidebar-content h3 {
    color: grey;
    font-weight: bold;
    margin: 8px 0px 2px; }
  .home-sidebar-content ul li {
    padding: 4px;
    max-width: em(3000);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px; }
    .home-sidebar-content ul li:after {
      content: "";
      display: table;
      clear: both; }
    .home-sidebar-content ul li .left {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 10.4370548518%; }
      .home-sidebar-content ul li .left:last-child {
        margin-right: 0; }
    .home-sidebar-content ul li .right {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 87.2052935503%; }
      .home-sidebar-content ul li .right:last-child {
        margin-right: 0; }
      .home-sidebar-content ul li .right i {
        float: right; }
    .home-sidebar-content ul li:hover {
      background-color: #E6E6E6;
      cursor: pointer; }
    .home-sidebar-content ul li.checked {
      background-color: #33B5E5;
      font-weight: bold;
      color: white; }

.home-container {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px; }
  .home-container:after {
    content: "";
    display: table;
    clear: both; }

.home-sidebar {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  padding-top: 24px; }
  .home-sidebar:last-child {
    margin-right: 0; }

.home-feed {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%; }
  .home-feed:last-child {
    margin-right: 0; }

.home-profile-name h2 {
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden; }

.rmodal {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.rmodal-window {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  z-index: 1010;
  overflow: hidden;
  width: 500px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50%;
  padding: 1.5em;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 45px 5px; }

.rmodal-header {
  height: auto;
  background-color: white; }
  .rmodal-header:after {
    content: "";
    display: table;
    clear: both; }
  .rmodal-header .rmodal-close {
    float: right; }

.rmodal-title {
  float: left;
  margin: 0;
  width: 100%; }

.rmodal-close {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 10px;
  margin-bottom: 0;
  cursor: pointer;
  color: #707070;
  background-color: transparent; }
  .rmodal-close:before, .rmodal-close:after {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    display: block;
    content: '';
    background: #707070; }
  .rmodal-close:hover:before, .rmodal-close:hover:after {
    background: #4a4a4a; }
  .rmodal-close:before {
    -webkit-transform: translateY(-50%) rotateZ(45deg);
    -moz-transform: translateY(-50%) rotateZ(45deg);
    -ms-transform: translateY(-50%) rotateZ(45deg);
    -o-transform: translateY(-50%) rotateZ(45deg);
    transform: translateY(-50%) rotateZ(45deg);
    width: 20px;
    height: 2px;
    margin-top: 50%; }
  .rmodal-close:after {
    -webkit-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    -moz-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    -ms-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    -o-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    width: 2px;
    height: 20px;
    margin-top: -50%;
    margin-left: 50%; }

.rmodal-close.rmodal-circle {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  margin: 10px;
  margin-bottom: 0;
  cursor: pointer;
  color: #707070;
  background-color: #AAA;
  border-radius: 50%; }
  .rmodal-close.rmodal-circle:before, .rmodal-close.rmodal-circle:after {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    display: block;
    content: '';
    background: white; }
  .rmodal-close.rmodal-circle:hover {
    background-color: #cccccc; }
    .rmodal-close.rmodal-circle:hover:before, .rmodal-close.rmodal-circle:hover:after {
      background: white; }
  .rmodal-close.rmodal-circle:before {
    -webkit-transform: translateY(-50%) rotateZ(45deg);
    -moz-transform: translateY(-50%) rotateZ(45deg);
    -ms-transform: translateY(-50%) rotateZ(45deg);
    -o-transform: translateY(-50%) rotateZ(45deg);
    transform: translateY(-50%) rotateZ(45deg);
    width: 12px;
    height: 2px;
    margin-top: 50%; }
  .rmodal-close.rmodal-circle:after {
    -webkit-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    -moz-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    -ms-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    -o-transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    transform: translateX(-50%) translateY(-2px) rotateZ(45deg);
    width: 2px;
    height: 12px;
    margin-top: -50%;
    margin-left: 50%; }

#login-modal {
  background-color: rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 350px) {
    #login-modal .rmodal-window {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      width: auto;
      height: auto;
      margin: 0;
      border-radius: 0; } }
  #login-modal .rmodal-window {
    width: 350px;
    border-radius: 3px;
    border: 1px solid #378CC5;
    padding: 35px; }
  #login-modal .rmodal-title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px; }
  #login-modal h5 {
    text-align: center;
    font-weight: normal;
    margin-top: 10px; }

.fb-login {
  background-color: #3E5C96;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: #FFF;
  padding: 0.8em;
  border-radius: 3px; }
  .fb-login .fa {
    margin-right: 0.5em; }

#feed-select-modal .rmodal-title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px; }
#feed-select-modal p {
  font-weight: 300;
  font-size: 17px;
  padding-bottom: 10px; }
#feed-select-modal li {
  cursor: pointer;
  padding: 4px;
  margin-bottom: 4px;
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto; }
  #feed-select-modal li:after {
    content: "";
    display: table;
    clear: both; }
  #feed-select-modal li .left {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 10.4370548518%; }
    #feed-select-modal li .left:last-child {
      margin-right: 0; }
  #feed-select-modal li .right {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 87.2052935503%; }
    #feed-select-modal li .right:last-child {
      margin-right: 0; }
    #feed-select-modal li .right i {
      float: right; }
  #feed-select-modal li:hover {
    background-color: #E6E6E6;
    cursor: pointer; }
  #feed-select-modal li.checked {
    background-color: #33B5E5;
    font-weight: bold;
    color: white; }
#feed-select-modal .button {
  width: 100%;
  border-radius: 3px;
  margin-top: 6px;
  padding: 0.6em; }
  #feed-select-modal .button:hover {
    background-color: #33B5E5; }

div.product-body {
  text-align: center; }

div#product-bid textarea {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 1.2em;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: inline-block; }

div.product-header {
  font-size: 20px;
  text-align: center;
  padding: 10px; }

td.product-name {
  font-size: 40px;
  color: black;
  padding: 10px; }

div.product-info {
  max-width: 900px;
  margin: 0 auto; }

td.product-table-left {
  width: 65%;
  vertical-align: top; }

td.product-table-right {
  width: 35%;
  padding-bottom: 20px; }

div.product-box {
  box-sizing: border-box;
  background: white;
  margin-bottom: 10px;
  text-align: left;
  color: black;
  padding: 20px;
  font-size: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }
  div.product-box #message {
    width: 300px; }

div.product-desc {
  padding: 10px; }

span.product-box-title {
  color: #D8D8D8;
  background: #33b5e5;
  padding: 6px 20px;
  float: left;
  margin-top: -6px; }

img.product-img {
  width: 100%; }

button.product-button {
  padding: 6px 35px;
  background: #CEECF5;
  border: 1px solid #013ADF;
  text-align: center;
  color: #013ADF;
  font-size: 20px; }

button.product-button:hover {
  font-weight: bold;
  background: #A9E2F3; }

div.gmap {
  background: #E0F2F7;
  border: 2px solid #81F7F3;
  text-align: center;
  padding: 5px; }
  div.gmap div.gmap-map {
    border: 1px solid white;
    padding: 0; }
  div.gmap div.gmap-text {
    font-size: 14px;
    padding: 5px; }
  div.gmap div.gmap-text a {
    font-weight: bold;
    font-size: 16px; }
  div.gmap div.gmap-header {
    font-size: 18px;
    font-weight: bold;
    padding: 5px; }

div.condition-new {
  background: #0B610B;
  color: #A9F5A9; }

div.condition-new span.product-box-title, span.seller-up {
  background: #A9F5A9;
  color: #0B610B;
  font-weight: bold; }

div.condition-med {
  background: #5E610B;
  color: #F2F5A9; }
  div.condition-med span.product-box-title {
    background: #F2F5A9;
    color: #5E610B;
    font-weight: bold; }

div.condition-bad {
  background: #610B0B;
  color: #F5A9A9; }

div.condition-bad span.product-box-title, span.seller-down {
  background: #F5A9A9;
  color: #610B0B;
  font-weight: bold; }

div.user-info {
  color: black;
  text-align: right; }
  div.user-info span.seller-name {
    font-size: 25px; }
  div.user-info span.product-box-title {
    background: #8A4B08;
    color: white; }
  div.user-info div.prod-info {
    text-align: left;
    font-size: 14px;
    margin-top: 5px; }

div.user-rating {
  margin-top: 10px; }
  div.user-rating span {
    margin-right: 8px;
    padding: 0 8px; }

div.related-item-box {
  margin-top: 50px;
  height: 250px; }

div.related-items-title {
  font-size: 20px; }

div.related-item {
  background: #E6E6E6;
  border: 1px solid #3f9fe0;
  margin: 5px;
  padding: 10px;
  text-align: center;
  float: left; }
  div.related-item span.related-selling {
    background: #8A4B08;
    color: white;
    font-weight: bold;
    padding: 0 5px; }
  div.related-item img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px; }

table.messenger-table {
  width: 100%;
  border: 2px solid black; }

td.mes-offer {
  border-top: 2px solid #444444;
  background: #dddddd;
  padding: 2px; }

td.mes-offer-price {
  font-weight: bold;
  font-size: 25px; }

td.mes-item {
  border-right: 2px solid #444444;
  padding: 5px;
  width: 162px;
  background: #BDBDBD;
  font-size: 25px;
  font-weight: bold;
  vertical-align: top; }
  td.mes-item img {
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
    border: 1px solid #444444; }

tr.mes-spacer td {
  font-size: 8px;
  background: black; }

td.mes-item-name {
  font-size: 25px;
  padding: 7px 7px 7px 40px;
  text-align: left;
  background: #BDBDBD; }
  td.mes-item-name a {
    color: #3C56DA; }

td.mes-type {
  font-size: 25px;
  font-weight: bold;
  padding: 7px;
  text-align: center;
  border-right: 2px solid #444444; }

td.mes-offer-ops {
  text-align: right; }

table.msgs {
  width: 100%; }

table.msgs td {
  padding: 5px;
  border-top: 1px solid black; }

td.msgs-left {
  width: 120px;
  text-align: right; }
  td.msgs-left div.msgs-name {
    font-weight: bold; }
  td.msgs-left div.msgs-date {
    font-style: italic; }

td.msgs-right {
  vertical-align: middle;
  text-align: left; }

.box-green, .box-red {
  padding: 5px; }

.box-green {
  background: #0B610B;
  color: #A9F5A9;
  border: 1px solid #A9F5A9; }

.box-red {
  background: #610B0B;
  color: #F5A9A9;
  border: 1px solid #F5A9A9; }

.pageProduct {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  max-width: 1200px;
  font-weight: 300; }
  .pageProduct h1 {
    font-weight: normal; }
  .pageProduct:after {
    content: "";
    display: table;
    clear: both; }
  .pageProduct .container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .pageProduct .container:last-child {
      margin-right: 0; }
    .pageProduct .container .pic {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 57.3509785009%; }
      .pageProduct .container .pic:last-child {
        margin-right: 0; }
    .pageProduct .container .info {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%; }
      .pageProduct .container .info:last-child {
        margin-right: 0; }
    .pageProduct .container .product-box {
      box-sizing: border-box;
      background: white;
      margin-bottom: 10px;
      text-align: left;
      color: black;
      padding: 20px;
      font-size: 1em;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
      .pageProduct .container .product-box b {
        font-weight: normal; }
      .pageProduct .container .product-box #message {
        width: 100%; }

section.pageAbout {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }
  section.pageAbout:after {
    content: "";
    display: table;
    clear: both; }
  section.pageAbout div.trio-wrapper {
    overflow: hidden;
    height: auto;
    padding-bottom: 0px; }
  section.pageAbout div.trio {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    section.pageAbout div.trio:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px)  {
      section.pageAbout div.trio {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%; }
        section.pageAbout div.trio:last-child {
          margin-right: 0; } }

.pageFeeds {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  .pageFeeds .faded {
    color: grey;
    font-size: 1em; }
  .pageFeeds:after {
    content: "";
    display: table;
    clear: both; }
  .pageFeeds .post {
    width: 100%;
    display: inline-block;
    min-width: 300px;
    heigt: auto; }
    .pageFeeds .post h1 {
      font-weight: normal;
      margin-top: 0px;
      margin-bottom: 0px; }
    .pageFeeds .post img {
      width: 100%;
      overflow: hidden; }
    .pageFeeds .post p {
      font-size: 1em;
      word-wrap: break-word;
      overflow-wrap: break-word; }
    .pageFeeds .post .image {
      max-height: 300px;
      max-width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      border: 1px solid lightgrey;
      margin-top: 8px;
      width: auto;
      margin-bottom: 8px; }
    .pageFeeds .post .fa-envelope-o {
      cursor: pointer; }
    .pageFeeds .post .fa-angle-down {
      cursor: pointer; }
    .pageFeeds .post .fa-trash-o {
      cursor: pointer; }
    .pageFeeds .post .post-inner {
      padding: 20px;
      background-color: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      margin-bottom: 10px;
      width: 100%;
      height: 100%;
      position: relative; }
      .pageFeeds .post .post-inner .container {
        max-width: em(3000);
        margin-left: auto;
        margin-right: auto; }
        .pageFeeds .post .post-inner .container:after {
          content: "";
          display: table;
          clear: both; }
        .pageFeeds .post .post-inner .container .left {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 14.7019570017%; }
          .pageFeeds .post .post-inner .container .left:last-child {
            margin-right: 0; }
        .pageFeeds .post .post-inner .container .right {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 82.9403914003%; }
          .pageFeeds .post .post-inner .container .right:last-child {
            margin-right: 0; }
      .pageFeeds .post .post-inner .actions {
        cursor: pointer; }
      .pageFeeds .post .post-inner .icons-container {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 1.3em; }
      .pageFeeds .post .post-inner .msgContainer textarea {
        font-size: 1em; }
      .pageFeeds .post .post-inner .msgContainer.noshow {
        display: none; }
    .pageFeeds .post .commentContainer {
      font-size: 0.95em;
      background-color: #ebebeb;
      padding: 4px; }
      .pageFeeds .post .commentContainer .left {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 6.1721527019%; }
        .pageFeeds .post .commentContainer .left:last-child {
          margin-right: 0; }
      .pageFeeds .post .commentContainer .right {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 91.4701957002%; }
        .pageFeeds .post .commentContainer .right:last-child {
          margin-right: 0; }
      .pageFeeds .post .commentContainer .commentSmallContainer {
        max-width: em(3000);
        margin-left: auto;
        margin-right: auto; }
        .pageFeeds .post .commentContainer .commentSmallContainer:after {
          content: "";
          display: table;
          clear: both; }
      .pageFeeds .post .commentContainer .comment-inner-container {
        max-width: em(3000);
        margin-left: auto;
        margin-right: auto; }
        .pageFeeds .post .commentContainer .comment-inner-container:after {
          content: "";
          display: table;
          clear: both; }
        .pageFeeds .post .commentContainer .comment-inner-container .commentForm {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 91.4701957002%;
          border-color: #cdcdcd;
          height: auto;
          background-color: white;
          margin-right: 0px; }
          .pageFeeds .post .commentContainer .comment-inner-container .commentForm:last-child {
            margin-right: 0; }
          .pageFeeds .post .commentContainer .comment-inner-container .commentForm .placeholder {
            color: #cdcdcd;
            font-size: 0.95em; }

.userInfo {
  width: 85%;
  margin-top: 24px; }
  .userInfo img {
    border: 1px solid lightgrey; }
  .userInfo h2 {
    font-size: 2em;
    font-weight: normal; }
  .userInfo ul li {
    background-color: #3b5998;
    padding: 4px;
    color: white;
    border-radius: 4px; }
    .userInfo ul li.fb {
      padding: 6px 8px; }

.profile.right-column .home-feed {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .profile.right-column .home-feed:last-child {
    margin-right: 0; }

input[type=file] {
  display: none; }

input[type=radio] {
  display: none; }

.image-preview {
  max-height: 100px;
  max-width: 100px;
  display: block; }
  .image-preview.filled {
    border: 1px solid grey; }
  .image-preview.uploading {
    opacity: 0.7; }

.home-post-container {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.5em;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0px; }
  .home-post-container:after {
    content: "";
    display: table;
    clear: both; }
  .home-post-container input[type=text] {
    width: 100%;
    height: auto;
    padding: 5px 10px 5px 10px;
    border: 1px solid #c8c8c8;
    font-weight: 200;
    line-height: 1.5em;
    font-size: 1em; }
  .home-post-container .post-message {
    font-weight: 200; }
  .home-post-container h3 {
    font-weight: normal; }
  .home-post-container .button {
    padding: 0.5em 1em 0.5em 1em;
    float: right;
    border-radius: 0px 0px 15px 0px; }
  .home-post-container .home-post-body {
    padding-top: 10px;
    display: none;
    padding: 20px; }
    .home-post-container .home-post-body .home-feeds-list {
      font-size: 0.8em; }
    .home-post-container .home-post-body textarea {
      font-size: 1em; }
    .home-post-container .home-post-body form {
      margin-bottom: 10px; }
    .home-post-container .home-post-body label {
      display: inline-block;
      padding: 4px;
      border-radius: 2px;
      cursor: pointer;
      color: #33B5E5; }
      .home-post-container .home-post-body label:hover {
        background-color: #EEE; }
      .home-post-container .home-post-body label.checked {
        font-weight: normal;
        background-color: #33B5E5;
        color: white; }
    .home-post-container .home-post-body input[type=file] {
      font-size: 0.7em; }
    .home-post-container .home-post-body #item-title {
      margin-top: 10px; }
    .home-post-container .home-post-body .button {
      font-size: 0.8em; }
  .home-post-container textarea {
    padding: 5px 10px 5px 10px; }
  .home-post-container form {
    display: inline; }

.home-post-header {
  padding: 15px 20px 15px 20px;
  border-bottom: 2px solid #33B5E5; }
  .home-post-header label {
    display: inline-block;
    cursor: pointer;
    color: #33B5E5; }
    .home-post-header label.checked {
      font-weight: bold; }

.post-message, div[contenteditable] {
  overflow: auto;
  display: block;
  padding: 8px 4px 4px 4px;
  width: 100%;
  height: auto;
  border: 1px solid #c8c8c8;
  background-color: white;
  word-wrap: break-word;
  font-size: 1.2em;
  line-height: 1.2em;
  resize: none;
  -webkit-writing-mode: horizontal-tb; }

.page-signup {
  width: 70%;
  margin: 0 auto; }
  .page-signup hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0px;
    border-bottom: 1px solid lightgrey; }
  .page-signup h1, .page-signup h3 {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 16px;
    width: auto; }
  .page-signup h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px; }
  .page-signup h1 {
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 4em;
    border-bottom: 1px solid lightgrey; }
  .page-signup h5 {
    text-align: center;
    font-weight: normal;
    margin-top: 8px; }
  .page-signup h4 {
    margin-top: 16px;
    font-weight: normal;
    font-size: 1.5em; }
  .page-signup .fb-button {
    min-width: 400px;
    width: 30%;
    margin: 0 auto; }
  .page-signup .refBox img {
    border: 1px solid lightgrey;
    margin: 0 auto;
    display: block; }
  .page-signup .refBoxMulti img {
    border: 1px solid lightgrey;
    margin: 0 auto;
    display: inline-block; }
  .page-signup input[type=text] {
    color: grey;
    padding: 8px;
    width: 400px; }

.page-product {
  margin: 50px auto 100px;
  overflow: auto;
  width: 80%; }
  .page-product h1 {
    display: inline-block; }
  .page-product h3 {
    display: inline-block; }
  .page-product div {
    display: inline-block;
    float: left;
    width: calc(50% - 20px);
    height: 100%; }
  .page-product div.info img {
    display: block;
    margin: 0 auto;
    width: 300px; }
  .page-product div.info div.user-info {
    margin: 0 auto;
    padding: 0px 10px;
    width: calc(100% - 20px);
    outline: 0px; }
    .page-product div.info div.user-info div {
      padding: 10px 20px;
      width: calc(100% - 40px);
      outline: 0px;
      background-color: #f0f0f0; }
      .page-product div.info div.user-info div h2 {
        margin: 0px;
        text-align: left; }
  .page-product div.product-info {
    padding: 0px 10px; }
    .page-product div.product-info table {
      border-spacing: 0px; }
      .page-product div.product-info table tbody tr td {
        padding-right: 20px; }
    .page-product div.product-info a {
      text-align: center; }

.steps {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -25px; }
  .steps tbody tr td {
    padding-right: 50px;
    padding-left: 50px; }

.step-circle {
  width: 100px;
  height: 100px;
  line-height: 80px;
  border: 10px solid lightgrey;
  border-radius: 100px;
  display: inline-block;
  background-color: white;
  color: black;
  text-decoration: none; }
  .step-circle.active {
    border-color: white; }
  .step-circle.complete {
    border-color: #3F9FE0; }
  .step-circle h1 {
    text-align: center;
    font-size: 4em;
    margin: 0; }

.page-add-product {
  margin-bottom: 100px;
  height: auto;
  overflow: auto;
  width: 60%; }
  .page-add-product input, .page-add-product select, .page-add-product option, .page-add-product div[contenteditable] {
    display: inline-block;
    padding: 14px;
    outline: 1px solid #eee;
    border: 0px;
    font-size: 1.2em;
    height: 53px; }
    .page-add-product input:focus, .page-add-product select:focus, .page-add-product option:focus, .page-add-product div[contenteditable]:focus {
      outline-color: #3F9FE0; }
  .page-add-product input[type=radio] {
    height: auto;
    outline: 0px; }
  .page-add-product input[type=text] {
    margin-bottom: 10px;
    width: calc(78% - 28px); }
  .page-add-product input[type=number] {
    margin-right: 1.5%;
    padding: 10px;
    width: calc(20% - 30px); }
  .page-add-product select, .page-add-product option {
    width: 20%;
    background-color: white; }
  .page-add-product div[contenteditable] {
    background-color: white;
    display: block;
    overflow-y: scroll;
    width: calc(100% - $i-pad * 2);
    height: 100px;
    line-height: 1.2em; }
  .page-add-product span {
    display: inline-block;
    margin-left: 2%;
    font-weight: bold;
    font-size: 1.5em; }
  .page-add-product .button {
    padding: 14px;
    width: calc(20% - 28px);
    border-radius: 0 0 4px 0; }
  .page-add-product div.preview {
    margin: 0 auto;
    padding: 25px;
    border: 1px solid; }
  .page-add-product .button {
    display: inline-block; }
  .page-add-product h3 {
    margin-bottom: 10px; }
  .page-add-product .describe .button {
    float: right; }
  .page-add-product .condition option, .page-add-product .condition div {
    margin: 0 auto; }
  .page-add-product .button {
    display: inline-block; }
    .page-add-product .button.left {
      float: left; }
    .page-add-product .button.right {
      float: right; }

fieldset.show, div.show {
  display: block; }

.categories-container {
  height: 1000px;
  background-color: #00F; }

.browse-container {
  margin-top: 40px;
  margin-bottom: 50px; }
  .browse-container:after {
    content: "";
    display: table;
    clear: both; }

.categories-container, .items-container {
  padding: 10px; }

.categories-container {
  width: 250px;
  margin-left: 30px;
  float: left;
  background-color: white;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.1); }

.items-container {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  overflow: hidden; }
  .items-container:after {
    content: "";
    display: table;
    clear: both; }
  .items-container .item {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-bottom: 2.35765%;
    padding: 10px; }
    .items-container .item:last-child {
      margin-right: 0; }
    .items-container .item:nth-child(3n) {
      margin-right: 0; }
    .items-container .item:nth-child(3n+1) {
      clear: left; }

.items-container .item {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.1); }
  .items-container .item img {
    width: 100%; }
  .items-container .item .name {
    font-size: 19px;
    color: #494949; }
  .items-container .item .price {
    color: #50A8E7; }

.messagingPost {
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  vertical-align: middle; }
  .messagingPost .messageText, .messagingPost .messageSend {
    display: inline-block;
    border: 1px solid lightgrey;
    height: 100%; }
  .messagingPost .messageText {
    width: 95%;
    padding: 4px 4px 4px 8px;
    height: auto;
    overflow: auto;
    resize: none;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 1.2em;
    word-wrap: break-word; }
  .messagingPost .messageSend {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 5%;
    height: 100%;
    padding: 8px;
    position: absolute;
    border: 1px solid lightgrey; }

.messaging-info, .messages-container, .messaging-reply-container {
  border: 1px solid #E6E6E6; }
  .messaging-info .message-reply-box .message-reply-text, .messages-container .message-reply-box .message-reply-text, .messaging-reply-container .message-reply-box .message-reply-text {
    resize: none;
    border: 1px solid lightgrey;
    font-size: 1em;
    height: 48px; }
  .messaging-info .message-reply-box footer, .messages-container .message-reply-box footer, .messaging-reply-container .message-reply-box footer {
    background-color: white;
    color: grey;
    height: auto;
    border: 1px solid lightgrey; }
    .messaging-info .message-reply-box footer .photo-upload, .messages-container .message-reply-box footer .photo-upload, .messaging-reply-container .message-reply-box footer .photo-upload {
      border-right: 1px solid lightgrey;
      height: 100%;
      padding: 6px 8px;
      display: inline-block;
      font-weight: 300; }
      .messaging-info .message-reply-box footer .photo-upload:hover, .messages-container .message-reply-box footer .photo-upload:hover, .messaging-reply-container .message-reply-box footer .photo-upload:hover {
        background-color: lightgrey;
        cursor: pointer; }
    .messaging-info .message-reply-box footer h4, .messages-container .message-reply-box footer h4, .messaging-reply-container .message-reply-box footer h4 {
      display: inline-block;
      float: right;
      padding: 4px 8px;
      font-weight: 300; }

.messaging-info {
  background-color: white;
  padding: 1em; }

.messaging-info-name {
  font-weight: 600;
  font-size: 20px;
  color: #191919; }
  .messaging-info-name:hover {
    text-decoration: underline; }

.messages-container {
  border-top: none;
  height: 400px;
  background-color: white;
  overflow: auto; }

.messaging-messages {
  padding: 1em; }

.messaging-reply-container {
  border-top: none;
  background-color: #F2F2F2;
  padding: 10px; }

#messaging-reply {
  width: 100%;
  padding: 0.3em; }

.message {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto; }
  .message:after {
    content: "";
    display: table;
    clear: both; }
  .message hr {
    width: 50%;
    border: 1px solid lightgrey; }
  .message .left {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .message .left img {
      width: 100%; }
    .message .left:last-child {
      margin-right: 0; }
  .message .middle {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    word-wrap: break-word; }
    .message .middle:last-child {
      margin-right: 0; }
    .message .middle span {
      display: block; }
  .message .right {
    color: lightgrey;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .message .right:last-child {
      margin-right: 0; }

.messaging-sidebar-item {
  display: block;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top: none;
  border-right: none;
  background-color: white;
  padding: 0.4em; }
  .messaging-sidebar-item:after {
    content: "";
    display: table;
    clear: both; }
  .messaging-sidebar-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.25); }

.messaging-sidebar-img {
  float: left;
  display: block;
  width: 36.7161326647%; }
  .messaging-sidebar-img:last-child {
    width: 26.5677346705%; }
  .messaging-sidebar-img img {
    display: block;
    width: 90%;
    height: 90%; }

.messaging-sidebar-name {
  float: left;
  display: block;
  width: 73.4322653295%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .messaging-sidebar-name:last-child {
    width: 63.2838673353%; }

.messaging-container, .messaging-sidebar, .messaging-conversation {
  height: 100%; }

.messaging-container {
  max-width: em(3000);
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; }
  .messaging-container:after {
    content: "";
    display: table;
    clear: both; }

.messaging-sidebar {
  float: left;
  display: block;
  width: 25.5894128995%; }
  .messaging-sidebar:last-child {
    width: 23.2317613015%; }

.messaging-conversation {
  float: left;
  display: block;
  width: 76.7682386985%; }
  .messaging-conversation:last-child {
    width: 74.4105871005%; }
