﻿$robotext : Roboto Condensed;
$i-pad : 14px;

body {
	padding:0px;
	margin:0px;
	min-width:400px;
	font-family:$robotext;
	background-color:whiteSmoke;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
	&.placeholder {font-weight:300; }
	&:-moz-placeholder {font-weight:300;}
	&::-moz-placeholder { font-weight:300;}
	&:-ms-input-placeholder { font-weight:300;}
	&::-webkit-input-placeholder { font-weight:300;}
}
header {
	padding:10px 0px;
	background-color:#3F9FE0;
	border-bottom: 1px solid #378cc5;
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 8px 0px;
	font-family: $robotext;
	font-size:1.4em;
	color:white;
	width:100%;
	min-width:400px;
	a {
		font-weight:bold;
		color:white;
		box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
		margin-left:40px;
		&:link {
			text-decoration: none;
		}
	}
	div#user-wrapper {
		float:right;
		margin-right:50px;
	}
	ul#logDrop {
		position:absolute;
		right:0px;
		top:20px;
		display:none;
		border-right:1px solid #3F9FE0;
		border-left:1px solid #3F9FE0;
		background-color:white;
		list-style-type:none;
		padding:0px;
		margin-right:50px;
		color:black;
		li {
			border-bottom:1px solid #3F9FE0;
			padding:5px;
		}
	}
}

a {
	color:#33b5e5;
}

input{
	padding:$i-pad;
	display:inline-block;
	outline:1px solid #eee;
	border:0px;
	font-size:1.2em;
	
	&:focus {
		outline-color:#3F9FE0;
	}
}

h1.logo{
	font-size:140px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:-30px;
	text-shadow:3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72, 1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black;
	text-align:center;
	letter-spacing: 15px;
	color:white;
}

.page-box {
	margin:0 auto;
	margin-top:50px;
	margin-bottom:100px;
	width:auto;
	max-height:600px;
	min-width:400px;
	height:auto;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.08);
	border: 1px solid #d8dcea;
	padding:20px;
	transition: all .25s ease-in;
	overflow:auto;
	h1, h2, h3, h4, h5 {
		margin: 0 auto;
	}
} 

.page-home {
	width:60%;
	max-width:600px;
	padding-top:40px;
	padding-bottom:40px;
	input {
		width:80%;
		margin:0 auto;
		display:block;
	}
	.button-wrapper {
		width:calc(80% + 30px);
		margin:0 auto;
		display: block;
		text-align: -webkit-center;
	}
	.button {
		width:calc(33.33% - 130px);
		display:inline-block;
		&:nth-child(1){
			border-bottom-left-radius: 8px;
		}
		&:nth-child(3){
			border-bottom-right-radius: 8px;
		}
	}
}

.page-product {
	width:80%;
	h1 {
		display:inline-block;
	}
	h3 {
		display:inline-block;
	}
	div {
		width:calc(50% - 20px);
		height:100%;
		float:left;
		display:inline-block;
	}
	div.info {
		img {
			width:300px;
			margin:0 auto;
			display:block;
		}
		div.user-info {
			padding:0px 10px;
			width:calc(100% - 20px);
			margin:0 auto;
			outline:0px;
			div {

			background-color:#f0f0f0;
			width:calc(100% - 40px);
			outline:0px;
			padding:10px 20px;
				h2 {
					margin:0px;
					text-align:left;
				
				}
			}	
		}
	}
	div.product-info {
		padding:0px 10px;
		table {
			border-spacing:0px;
			tbody {
				tr {
					td {
						padding-right:20px;
					}
				}
			}
		}
		a {
			text-align:center;
		}
	}
}


.steps {
	margin:0 auto;
	tbody {
		tr {
			td {
				padding-right:50px;
				padding-left: 50px;
			}
		}
	}
	margin-top:10px;
	margin-bottom:-25px;
}

.step-circle {
	width:100px;
	height:100px;
	border:10px solid lightgrey;
	border-radius:100px;
	display:inline-block;
	background-color:white;
	//box-shadow:1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black;
	box-shadow:1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px 1px black inset, 1px -1px black inset, -1px 1px black inset, -1px -1px black inset;
	&.active {
		border-color:white;
	}
	&.complete {
		border-color:#3F9FE0;
	}
	h1 {
		text-align:center;
		font-size:4em;
		margin:0;
		line-height:100px;
	}
}



.page-addProduct {
	width:60%;
	height:auto;
	overflow:auto;
	div {
		input, select,option, div[contenteditable] {
			padding:$i-pad;
			display:inline-block;
			outline:1px solid #eee;
			border:0px;
			font-size:1.2em;
			
			&:focus {
				outline-color:#3F9FE0;
			}
		}
		input[type=text] {
			width:100%;
			margin-bottom:10px;
		}
		input[type=number] {
			width:calc(20% - 30px);
			padding:10px;
			margin-right:1.5%;
		}
		select,option {
			width:20%;
		}
		div[contenteditable] {
			height:100px;
			line-height:1.2em;
			display:block;
			overflow-y:scroll;
		}

		span {
			font-size:1.5em;
			font-weight:bold;
			display:inline-block;
			margin-left:2%;
		}
		.button {
			width:calc(20% - 30px);
			padding:14px;
			border-radius:0 0 4px 0;
		}

	}

	.button {
		display:inline-block;
	}
	h3 {		
		margin-bottom:10px;
	}
	.describe {
		.button {
			float:right;
		}
	}
	.condition {
		option, div {
			margin:0 auto;
		}
	}
	.button {
		display:inline-block;
		
		&.left {
			float:left;
		}
		&.right {
			float:right;
		}
	}
}

.button {
	cursor: default;
	padding: 14px 64px;
	text-align:center;
	color: #444;
	background-color: white;
	transition: 0.2s all ease;
	-webkit-transition: 0.2s all ease;
	border: 1px solid #eee;
	display:block;
	&:hover {
		background-color:#33b5e5;
		color:white;
		cursor:pointer;
	}
}

#modal-overlay {
	background-color:rgba(0,0,0,.5);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}

#modal {
	position:absolute;
	height:auto;
	width:350px;
	/*background-color:#E9E9E9;*/
	border-radius:5px;
	top:150px;
	margin-left:-175px;
	left:50%;
	border:1px solid #378cc5;
	box-shadow: 0 1px 3px rgba(0,0,0,0.08);
	background-color:rgba(255,255,255,0.8);
	.modal-login{
		input[type=text], input[type=password] {
			margin:0px;
			margin-bottom:5px;
			padding:10px;
			box-sizing:border-box;
			width:100%;
		}
	}
	.modal-signup{
		input[type=text], input[type=password],input[type=email] {
			margin:0px;
			margin-bottom:5px;
			padding:10px;
			box-sizing:border-box;
			width:100%;
			
		}
		input.halfInput {
			width:50%;
		}
	}
	.button {
		margin-top:5px;
		margin-bottom:5px;
	}
	#fb-login {
		margin-top:5px;
		width:100%;
		height:46px;
		background:url('fb_active.png') center top no-repeat;
		cursor:pointer;
		&:active {
			background-image:url('fb_pressed.png');
		}
	}
	.modal-inner {
		width:90%;
		padding:5%;
	}
	h1, h3 {
		margin: 0 auto;
		text-align:center;
		font-weight:300;
	}
	h3 {
		color:grey;
		font-size:1em;
		margin-top:5px;
	}
}


footer {
	padding:10px 0px;
	width:100%;
	text-align:center;
	background-color:lightgrey;
	font-family:$robotext;
	min-width:400px;
}
