@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\000034}}
body {
  padding: 0px;
  margin: 0px;
  min-width: 400px;
  font-family: Roboto Condensed;
  background-color: whiteSmoke; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000312}}
header {
  padding: 10px 0px;
  background-color: #3F9FE0;
  border-bottom: 1px solid #378cc5;
  box-shadow: rgba(0, 0, 0, 0.24706) 0px 0px 8px 0px;
  font-family: Roboto Condensed;
  font-size: 1.4em;
  color: white;
  width: 100%;
  min-width: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000322}}
  header a {
    font-weight: bold;
    color: white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
    margin-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000327}}
    header a:link {
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000331}}
  header div#user-wrapper {
    float: right;
    margin-right: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000335}}
  header ul#logDrop {
    position: absolute;
    right: 0px;
    top: 20px;
    display: none;
    border-right: 1px solid #3F9FE0;
    border-left: 1px solid #3F9FE0;
    background-color: white;
    list-style-type: none;
    padding: 0px;
    margin-right: 50px;
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000347}}
    header ul#logDrop li {
      border-bottom: 1px solid #3F9FE0;
      padding: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000354}}
a {
  color: #33b5e5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000358}}
input {
  padding: 14px;
  display: inline-block;
  outline: 1px solid #eee;
  border: 0px;
  font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000365}}
  input:focus {
    outline-color: #3F9FE0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000370}}
h1.logo {
  font-size: 140px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: -30px;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72, 1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black;
  text-align: center;
  letter-spacing: 15px;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000381}}
.page-box {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: auto;
  max-height: 600px;
  min-width: 400px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #d8dcea;
  padding: 20px;
  transition: all .25s ease-in;
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\0000396}}
  .page-box h1, .page-box h2, .page-box h3, .page-box h4, .page-box h5 {
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003101}}
.page-home {
  width: 60%;
  max-width: 600px;
  padding-top: 40px;
  padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003106}}
  .page-home input {
    width: 80%;
    margin: 0 auto;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003111}}
  .page-home .button-wrapper {
    width: calc(80% + 30px);
    margin: 0 auto;
    display: block;
    text-align: -webkit-center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003117}}
  .page-home .button {
    width: calc(33.33% - 130px);
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003120}}
    .page-home .button:nth-child(1) {
      border-bottom-left-radius: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003123}}
    .page-home .button:nth-child(3) {
      border-bottom-right-radius: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003129}}
.page-product {
  width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003131}}
  .page-product h1 {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003134}}
  .page-product h3 {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003137}}
  .page-product div {
    width: calc(50% - 20px);
    height: 100%;
    float: left;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003144}}
  .page-product div.info img {
    width: 300px;
    margin: 0 auto;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003149}}
  .page-product div.info div.user-info {
    padding: 0px 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    outline: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003154}}
    .page-product div.info div.user-info div {
      background-color: #f0f0f0;
      width: calc(100% - 40px);
      outline: 0px;
      padding: 10px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003160}}
      .page-product div.info div.user-info div h2 {
        margin: 0px;
        text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003168}}
  .page-product div.product-info {
    padding: 0px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003170}}
    .page-product div.product-info table {
      border-spacing: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003174}}
      .page-product div.product-info table tbody tr td {
        padding-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003180}}
    .page-product div.product-info a {
      text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003186}}
.page-addProduct {
  width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003189}}
  .page-addProduct div input, .page-addProduct div select, .page-addProduct div option, .page-addProduct div div[contenteditable] {
    padding: 14px;
    display: inline-block;
    outline: 1px solid #eee;
    border: 0px;
    font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003196}}
    .page-addProduct div input:focus, .page-addProduct div select:focus, .page-addProduct div option:focus, .page-addProduct div div[contenteditable]:focus {
      outline-color: #3F9FE0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003200}}
  .page-addProduct div input[type=text] {
    width: calc(78% - 28px);
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003204}}
  .page-addProduct div input[type=number] {
    width: calc(20% - 30px);
    padding: 10px;
    margin-right: 1.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003209}}
  .page-addProduct div select, .page-addProduct div option {
    width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003212}}
  .page-addProduct div div[contenteditable] {
    width: 100%;
    height: 100px;
    line-height: 1.2em;
    display: block;
    overflow-y: scroll; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003220}}
  .page-addProduct div span {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    margin-left: 2%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003226}}
  .page-addProduct div .button {
    width: calc(20% - 30px);
    padding: 14px;
    border-radius: 0 0 4px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003232}}
  .page-addProduct .button {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003235}}
  .page-addProduct h3 {
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003239}}
  .page-addProduct .describe .button {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003244}}
  .page-addProduct .condition option, .page-addProduct .condition div {
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003250}}
.button {
  cursor: default;
  padding: 14px 64px;
  text-align: center;
  color: #444;
  background-color: white;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  border: 1px solid #eee;
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003260}}
  .button:hover {
    background-color: #33b5e5;
    color: white;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Source\/Repos\/base\/\.unTemplate\/style\.scss}line{font-family:\00003269}}
footer {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  font-family: Roboto Condensed;
  min-width: 400px; }
