@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\000034}}
body {
  padding: 0px;
  margin: 0px;
  min-width: 400px;
  font-family: Roboto Condensed;
  background-color: whiteSmoke; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000319}}
input[type="email"].placeholder,
input[type="number"].placeholder,
input[type="password"].placeholder,
input[type="search"].placeholder,
input[type="tel"].placeholder,
input[type="text"].placeholder,
input[type="url"].placeholder {
  font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000320}}
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="url"]:-moz-placeholder {
  font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000321}}
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="url"]::-moz-placeholder {
  font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000322}}
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder {
  font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000323}}
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder {
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000325}}
header {
  padding: 10px 0px;
  background-color: #3F9FE0;
  border-bottom: 1px solid #378cc5;
  box-shadow: rgba(0, 0, 0, 0.24706) 0px 0px 8px 0px;
  font-family: Roboto Condensed;
  font-size: 1.4em;
  color: white;
  width: 100%;
  min-width: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000335}}
  header a {
    font-weight: bold;
    color: white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
    margin-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000340}}
    header a:link {
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000344}}
  header div#user-wrapper {
    float: right;
    margin-right: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000348}}
  header ul#logDrop {
    position: absolute;
    right: 0px;
    top: 20px;
    display: none;
    border-right: 1px solid #3F9FE0;
    border-left: 1px solid #3F9FE0;
    background-color: white;
    list-style-type: none;
    padding: 0px;
    margin-right: 50px;
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000360}}
    header ul#logDrop li {
      border-bottom: 1px solid #3F9FE0;
      padding: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000367}}
a {
  color: #33b5e5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000371}}
input {
  padding: 14px;
  display: inline-block;
  outline: 1px solid #eee;
  border: 0px;
  font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000378}}
  input:focus {
    outline-color: #3F9FE0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000383}}
h1.logo {
  font-size: 140px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: -30px;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72, 1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black;
  text-align: center;
  letter-spacing: 15px;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\0000394}}
.page-box {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: auto;
  max-height: 600px;
  min-width: 400px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #d8dcea;
  padding: 20px;
  transition: all .25s ease-in;
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003109}}
  .page-box h1, .page-box h2, .page-box h3, .page-box h4, .page-box h5 {
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003114}}
.page-home {
  width: 60%;
  max-width: 600px;
  padding-top: 40px;
  padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003119}}
  .page-home input {
    width: 80%;
    margin: 0 auto;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003124}}
  .page-home .button-wrapper {
    width: calc(80% + 30px);
    margin: 0 auto;
    display: block;
    text-align: -webkit-center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003130}}
  .page-home .button {
    width: calc(33.33% - 130px);
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003133}}
    .page-home .button:nth-child(1) {
      border-bottom-left-radius: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003136}}
    .page-home .button:nth-child(3) {
      border-bottom-right-radius: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003142}}
.page-product {
  width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003144}}
  .page-product h1 {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003147}}
  .page-product h3 {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003150}}
  .page-product div {
    width: calc(50% - 20px);
    height: 100%;
    float: left;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003157}}
  .page-product div.info img {
    width: 300px;
    margin: 0 auto;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003162}}
  .page-product div.info div.user-info {
    padding: 0px 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    outline: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003167}}
    .page-product div.info div.user-info div {
      background-color: #f0f0f0;
      width: calc(100% - 40px);
      outline: 0px;
      padding: 10px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003173}}
      .page-product div.info div.user-info div h2 {
        margin: 0px;
        text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003181}}
  .page-product div.product-info {
    padding: 0px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003183}}
    .page-product div.product-info table {
      border-spacing: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003187}}
      .page-product div.product-info table tbody tr td {
        padding-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003193}}
    .page-product div.product-info a {
      text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003200}}
.steps {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003204}}
  .steps tbody tr td {
    padding-right: 50px;
    padding-left: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003214}}
.step-circle {
  width: 100px;
  height: 100px;
  border: 10px solid lightgrey;
  border-radius: 100px;
  display: inline-block;
  background-color: white;
  box-shadow: 1px -1px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px 1px black inset, 1px -1px black inset, -1px 1px black inset, -1px -1px black inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003223}}
  .step-circle.active {
    border-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003226}}
  .step-circle.complete {
    border-color: #3F9FE0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003229}}
  .step-circle h1 {
    text-align: center;
    font-size: 4em;
    margin: 0;
    line-height: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003239}}
.page-addProduct {
  width: 60%;
  height: auto;
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003244}}
  .page-addProduct div input, .page-addProduct div select, .page-addProduct div option, .page-addProduct div div[contenteditable] {
    padding: 14px;
    display: inline-block;
    outline: 1px solid #eee;
    border: 0px;
    font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003251}}
    .page-addProduct div input:focus, .page-addProduct div select:focus, .page-addProduct div option:focus, .page-addProduct div div[contenteditable]:focus {
      outline-color: #3F9FE0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003255}}
  .page-addProduct div input[type=text] {
    width: 100%;
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003259}}
  .page-addProduct div input[type=number] {
    width: calc(20% - 30px);
    padding: 10px;
    margin-right: 1.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003264}}
  .page-addProduct div select, .page-addProduct div option {
    width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003267}}
  .page-addProduct div div[contenteditable] {
    height: 100px;
    line-height: 1.2em;
    display: block;
    overflow-y: scroll; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003274}}
  .page-addProduct div span {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    margin-left: 2%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003280}}
  .page-addProduct div .button {
    width: calc(20% - 30px);
    padding: 14px;
    border-radius: 0 0 4px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003288}}
  .page-addProduct .button {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003291}}
  .page-addProduct h3 {
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003295}}
  .page-addProduct .describe .button {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003300}}
  .page-addProduct .condition option, .page-addProduct .condition div {
    margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003304}}
  .page-addProduct .button {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003307}}
    .page-addProduct .button.left {
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003310}}
    .page-addProduct .button.right {
      float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003316}}
.button {
  cursor: default;
  padding: 14px 64px;
  text-align: center;
  color: #444;
  background-color: white;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  border: 1px solid #eee;
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003326}}
  .button:hover {
    background-color: #33b5e5;
    color: white;
    cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003333}}
#modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003342}}
#modal {
  position: absolute;
  height: auto;
  width: 350px;
  /*background-color:#E9E9E9;*/
  border-radius: 5px;
  top: 150px;
  margin-left: -175px;
  left: 50%;
  border: 1px solid #378cc5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.8); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003355}}
  #modal .modal-login input[type=text], #modal .modal-login input[type=password] {
    margin: 0px;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003364}}
  #modal .modal-signup input[type=text], #modal .modal-signup input[type=password], #modal .modal-signup input[type=email] {
    margin: 0px;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003372}}
  #modal .modal-signup input.halfInput {
    width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003376}}
  #modal .button {
    margin-top: 5px;
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003380}}
  #modal #fb-login {
    margin-top: 5px;
    width: 100%;
    height: 46px;
    background: url("fb_active.png") center top no-repeat;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003386}}
    #modal #fb-login:active {
      background-image: url("fb_pressed.png"); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003390}}
  #modal .modal-inner {
    width: 90%;
    padding: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003394}}
  #modal h1, #modal h3 {
    margin: 0 auto;
    text-align: center;
    font-weight: 300; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003399}}
  #modal h3 {
    color: grey;
    font-size: 1em;
    margin-top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jasper\/Documents\/GitHub\/base\/\.unTemplate\/style\.scss}line{font-family:\00003407}}
footer {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  font-family: Roboto Condensed;
  min-width: 400px; }
