.pageFeeds {
    .faded {
        color:grey;
        font-size:1em;
    }
    @include outer-container;
    width:100%;
    .post {
        h1 {
            font-weight:normal;
            margin-top:0px;
            margin-bottom:0px;
        }
        img {
            width:100%;
            overflow:hidden;
        }
        p {
            font-size:1em;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        .image {
            max-height:300px;
            max-width:100%;
            background-position:center;
            background-repeat: no-repeat;
            background-size:100%;
            border:1px solid lightgrey;
            margin-top:8px;
            width:auto;
            margin-bottom:8px;
        }
        width:100%;
        display:inline-block;
        min-width:300px;
        heigt:auto;
        .fa-envelope-o {
            cursor:pointer;
        }
        .fa-angle-down {
            cursor:pointer;
        }
        .fa-trash-o {
        	cursor: pointer;
        }
        .post-inner {
            @include boxes-default(10px);
            .container {
                @include outer-container;
                .left {
                    @include span-columns(2);
                }
                .right {
                    @include span-columns(10);
                }
            }
            .actions {
                cursor: pointer;
            }
            width:100%;
            height:100%;
            position:relative;
           .icons-container {
                position:absolute;
                top:8px;
                right:16px;
                font-size:1.3em;
           }
            .msgContainer {
                textarea {
                    font-size:1em;
                }
                &.noshow {
                    display:none;
                }
            }
        }
        .commentContainer {
            font-size:.95em;
            background-color:rgb(235,235,235);
            padding:4px;
                .left {
                    @include span-columns(1);
                }
                .right {
                    @include span-columns(11);
                }
            .commentSmallContainer {
                @include outer-container;
            }
            .comment-inner-container {
                @include outer-container;
            .commentForm {
                @include span-columns(11);
                border-color:rgb(205,205,205);
                height:auto;
                background-color:white;
                margin-right:0px;
                .placeholder{
                    color:rgb(205,205,205);
                    font-size:.95em;
                }
            }
        }
        }
    }
}
