// https://github.com/Schepp/box-sizing-polyfill
*,
*:before,
*:after {
	// need to uncomment if not using foundation global
	// @include box-sizing(border-box);
	*behavior: url("../../scripts/boxsizing.htc");
}

a {
	color: #33b5e5;
}

input {
	display: inline-block;
	padding: 14px;
	outline: 1px solid #eee;
	border: 0px;
	font-size: 1.2em;
	&:focus {
		outline-color: #3F9FE0;
	}
}
