.header {
    width: 100%;
    height:42px;
    border-bottom: 1px solid #378cc5;
    background-color: #3F9FE0;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 8px 0px;
    color: white;
    font-size: 1.4em;
    a {
        margin-left: 40px;
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
        color: white;
        font-weight: bold;
        display:inline-block;
        height:22px;
        padding:10px 0px;
        &:link {
            text-decoration: none;
        }
    }

    ul.dropdown {
        display: none;
    }

    div#user-wrapper {
        float:right;
        margin-right:50px;
        height:42px;
        padding-right:10px;
        line-height:42px;
        cursor:pointer;
    }
    ul#nameDrop {
        position:absolute;
        right:0px;
        top:15px;
        border-right:1px solid #378cc5;
        border-left:1px solid #378cc5;
        background-color:white;
        list-style-type:none;
        padding:0px;
        margin-right:50px;
        color:black;
        font-size:1em;
        font-weight:300;
        li {
            border-bottom:1px solid #378cc5;
            padding:5px;
            &:hover {
                background-color:#3F9FE0;
                color:white;
            }
        }
        box-shadow: rgba(0, 0, 0, 0.247059) 1px 1px 8px;
    }

}

header {
    background: white;
    color: black;
    padding: 0.5em 1em;
    border-bottom: 2px solid #E6E6E6;
    > .content {
        max-width: 1000px;
        height: 40px;
        margin: 0 auto;
        > * {
            vertical-align: middle;
        }
        .logo {
            display: inline-block;
            height: 100%;
        }
        img {
            height: 100%;
        }
        form {
            display: inline-block;
            margin-left: 1em;
            height: 100%;
            width: 60%;
        }
        $input-box-shadow: 1px 1px 1px #f1e8e8;
        input {
            @include transition(border 0.3s, color 0.3s, width 0.3s);
            border-radius: 2px;
            vertical-align: middle;
            border: 1px solid #E6E6E6;
            color: #E6E6E6;
            padding: 0 0.6em;
            font-size: 23px;
            font-weight: 300;
            width: 60%;
            height: 100%;

            background-color: #FCFCFC;
            border: none;
            box-shadow: $input-box-shadow;
            &:hover, &:focus {
                box-shadow: 0px 0px 2px rgba(52, 91, 119, 0.3);
            }
            &:focus {
                outline: none;
                border: 1px solid #50A8E7;
                color: #50A8E7;
                width: 100%;
            }
        }
        .user-wrapper {
            display:inline-block;
            float:right;
            h2{
                vertical-align: middle;
                display: inline-block;
                color: #50a8e7;
                font-weight: normal;
                font-size: 1.4em;
                margin-right: 16px;
            }
            img {
                vertical-align: middle;
                height: 2.5em;
                margin-right: 10px;
            }
            span {
                color: #f39c12;
            }
        }
        .btn-login {
            background: #50a8e7;
            color: white;
            float:right;
            padding: 0 1.1em;
            border-radius: 3px;
            border: 1px solid #008FD3;
            font-size: 20px;
            height: 100%;
            line-height: 100%;
        }
        .link {
            vertical-align:middle;
            margin-right: 0.8em;
            font-size: 1.4em;
            position:relative;
        }
        .dropdown {
            position:absolute;
            width:400px;
            font-size:1em;
            border:1px solid #50A8E7;
            right:0px;
            margin-top:8px;
            background:white;
            opacity:.9;
            z-index:999;
            &.hide {
                display:none;
            }
            &.show {
                display:block;
            }
            li {
                @include outer-container;
                min-height:48px;
                border-top:1px solid lightgrey;
                color:black;
                &.unread {
                    background-color:#ebebeb;
                }
                .icon {
                    @include span-columns(2);
                }
                .text {
                    font-size:16px;
                    padding:4px;
                    @include span-columns(10);
                }
            }
        }
    }
}

.header-notice {
    width:100%;
    background-color:#f39c12;
    border-bottom: 2px solid #E6E6E6;
    text-align:center;
    padding:8px;
    color:white;
}
