@import "stylesheets/conversation";
@import "stylesheets/sidebar";

.messaging-container, .messaging-sidebar, .messaging-conversation {
	height: 100%;
}

.messaging-container {
	@include outer-container;
	max-width: 1000px;
}

.messaging-sidebar {
	@include span-columns(3, block-collapse);
}

.messaging-conversation {
	@include span-columns(9, block-collapse);
	@include reset-display;
}
