
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://basel.meteor.com/9c95aa3f3d1bb16c9d16d039e7784e850c23aa73.css?meteor_css_resource=true" />

  <style>
    #profileName {
    font-size:25px;
    padding-left:25px;
    }

    #userInfo div {
    font-size:16px;
    margin-top:15px;
    }
    






    table.offers {
    width:100%;
    font-size:18px;
    }

    table.offers td, table.offers th { padding-bottom:5px; }

    table.offers th, table.offers td {

    }

    tr.offersTr {
    padding-top:3px;
    border-top:1px solid black;
    }
    td.offerSm { width:50px; text-align:center; }
    td.offerLastComment { padding-left:50px;}
    td.offerLastComment img { 
    width:25px;
    vertical-align:middle;
    }


    div.selectors { 
    font-size:20px;
    padding:0;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    }

    div.selectors span {
    margin-right:50px;
    border:1px solid black;
    background:gray;
    padding:5px;
    }

    div.selectors span.selected {
    background:white;
    }

    div.offerBox { margin-top:0; }

  </style>
</head>
<body>
<header>
  <div class="content">
    <a href="/" class="logo"><img src="/images/logo.png" alt="BASE"></a>
    <form action="/search">
      <input name="q" type="text" placeholder="Search...">
      </form>
    
    <button id="openLogin" class="btn-login">Login</button>
    
                                <!--<a href="{{pathFor 'about'}}" class="link">About</a>-->
  </div>
  </header>
  

<!--
<div class="postBox">
  <img style="vertical-align:middle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c0.0.100.100/p100x100/1185774_581588641903683_1994141347_a.jpg" />
</div>



<div class="selectors" style="margin-bottom:0;">
  <span id="selectorBuying">I am currently buying...</span><span id="selectorSelling">I am currently selling...</span><span id="selectorCommented">Items I have commented on...</span>
</div>

<div class="postBox offerBox" id="offerBoxselectorBuying">
  <table class="offers">
    <tr>
      <th colspan="4" style="text-align:left;padding-left:50px;">I am currently <strong>selling</strong>...</th>
    </tr>
    <tr>
      <th colspan="2">&nbsp;</th>
      <th>Price</th>
      <th style="text-align:left;padding-left:50px;">Last Comment</th>
    </tr>

    <tr class="offersTr">
      <td class="offerSm">X</td>
      <td class="offerMain"><a href="#">New Shoes</a><br />5 new comments</td>
      <td class="offerSm">$20</td>
      <td class="offerLastComment">5 minutes ago by <a href="#"><img src="http://graph.facebook.com/1820411408/picture" /> Jasper Lu</a>
    </tr>

    <tr class="offersTr">
      <td class="offerSm">X</td>
      <td class="offerMain"><a href="#">Used iPhone 5S</a><br />2 new comments</td>
      <td class="offerSm">$200</td>
      <td class="offerLastComment">3 hours ago by <a href="#"><img src="http://graph.facebook.com/1820411408/picture" /> Jasper Lu</a>
    </tr>

  </table>
</div>

<div class="postBox offerBox" id="offerBoxselectorSelling"></div>
<div class="postBox offerBox" id="offerBoxselectorCommented"></div>
-->


<!--<table style="width:100%"><tr>-->
<div class="pageFeeds">
  <div style="width:50%;padding-right:10px;vertical-align:top;float:left;">
    <div class="box">
      <img style="vertical-align:middle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c0.0.100.100/p100x100/1185774_581588641903683_1994141347_a.jpg" />
      <span id="profileName">Andrew Zarenberg</span>
  
      <div id="userInfo">
	<div class="user-rating"><span style="color:green;">25 ^</span> <span style="color:red">2 v</span></div>
	<div>Joined: <strong>May 3rd, 2014</strong></div>
	<div>Last Online: <strong>3 hours ago</strong></div>
	<div><a href="#">View Facebook Profile</a></div>
	<div><a href="#">Subscribe to this user</a></div>
	<div>&nbsp;</div>
	<div><a href="#" style="color:red">Report this user</a></div>
      </div>
    </div>
  </div>
  <div style="width:50%;padding-left:10px;vertical-align:top;padding-top:35px;float:right;">


<div class="post" style="width:100%;">
    <div class="post-inner">
        <div class="container">
            <div class="left">
                <img src="http://graph.facebook.com/100000326610254/picture?width=100&amp;height=100">
            </div>
            <div class="right">
                <h1>Cheeseburger<i class="fa fa-envelope"></i></h1>
                <hr>
                <a href="/profile/XJ2648aL8TdsRhDju">Steve Zhu</a> &gt; <a href="/feeds/"></a>
            </div>
        </div>
        <div class="msgContainer noshow">
            <div class="message-box">
    <!--
    <input id="offer" type="text" placeholder="Offer"/> 
    <input id="location" type="text" placeholder="Location"/> 
    -->
    <textarea class="post-message" id="message" placeholder="Send a message..."></textarea>
    <div id="sendMsg" class="button">Send</div>
    <!--code for this is in bid.js-->
</div>
        </div>
        
        <div class="image" style="background-image:url('https://s3.amazonaws.com/Basel/pics/XJ2648aL8TdsRhDju/1398790250313-Cheeseburger.png')"></div>
        
        <span class="description"> Has much cheese</span>
        <div class="commentContainer">
            <ul>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="">
    </div>
    <div class="right">
        <a href="/profile/"><b></b></a> hi steve
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="">
    </div>
    <div class="right">
        <a href="/profile/"><b></b></a> why isn't my picture appearing next to my comment...?
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/100000326610254/picture">
    </div>
    <div class="right">
        <a href="/profile/XJ2648aL8TdsRhDju"><b>Steve Zhu</b></a> trading for a double cheeseburger
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/100000326610254/picture">
    </div>
    <div class="right">
        <a href="/profile/XJ2648aL8TdsRhDju"><b>Steve Zhu</b></a> only accepting patties
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/1820411408/picture">
    </div>
    <div class="right">
        <a href="/profile/uDjfD8xJkK5ubJRKm"><b>Jasper Lu</b></a> dsff
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/1820411408/picture">
    </div>
    <div class="right">
        <a href="/profile/uDjfD8xJkK5ubJRKm"><b>Jasper Lu</b></a> now it's appearing!
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/100000326610254/picture">
    </div>
    <div class="right">
        <a href="/profile/XJ2648aL8TdsRhDju"><b>Steve Zhu</b></a> pls no spam i am only trying to sell cheez
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/100000326610254/picture">
    </div>
    <div class="right">
        <a href="/profile/XJ2648aL8TdsRhDju"><b>Steve Zhu</b></a> jasper gtfo stop spamming my thread
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/azarenberg/picture">
    </div>
    <div class="right">
        <a href="/profile/6mGiFskvYeKjCdTJp"><b>Andrew Zarenberg</b></a> those buns *_*
    </div>
</div>
                </li>
                
                <li>
                <div class="commentSmallContainer">
    <div class="left">

        <img src="http://graph.facebook.com/1820411408/picture">
    </div>
    <div class="right">
        <a href="/profile/uDjfD8xJkK5ubJRKm"><b>Jasper Lu</b></a> where would we meet up?
    </div>
</div>
                </li>
                
            </ul>
            <div contenteditable="true" class="commentForm" id="commentContent"><span class="placeholder">Write a comment...</span></div>
        </div>
    </div>
</div>



</div>
<!--</tr></table>-->
</div>

<script type="text/javascript">
/*
var offerBoxes = [];

var selectSelector = function(e){
elm = e.target;

var a = elm.parentNode.getElementsByTagName("span");
for(var x=0;x<a.length;x++){
		a[x].classList.remove("selected");
}
for(x=0;x<offerBoxes.length;x++){ offerBoxes[x].style.display = "none"; }
console.log(elm.id)
document.getElementById("offerBox"+elm.id).style.display = "";
console.log(elm.id)
elm.classList.add("selected");

document.getElementById("box"+e.target.id);
}

var c = false;
var a = document.getElementsByTagName("div");
for(var x=0;x<a.length;x++){
		if(a[x].className.match("selectors")){
		var b = a[x].getElementsByTagName("span");
		b[0].classList.add("selected");
		for(var y=0;y<b.length;y++){
				b[y].addEventListener("click",selectSelector);
				}
				} else if(a[x].className.match("offerBox")){
				offerBoxes.push(a[x]);
				if(c) a[x].style.display = "none";
				c = true;
				}
}
*/
</script>

</body>
</html>

  
