<template name="pageAbout">
	<section class="pageAbout">
		<div class="box">
			<h1>About BASE</h1>
			<p>
				BASE stands for Buying and Selling Everything. We are a service dedicated to making buying and selling goods locally easier and safer. What this means for the you, the seller is that there will be no transaction fees when an item is sold: all transactions are done in person, meaning you get to keep all money made from the sale, and get your money instantly. For the buyer, this means your safety is our top priority. Through the use of Facebook as the service powering BASE, and through our Secure Meetup Spots, you will get to meet your merchant before the sale is even made, and, if that wasn't enough, your transaction will be guaranteed to be done in a safe location!
			</p>
		</div>
		<div class="box trio-wrapper">
			<h1>Who we are</h1>
			<div class="box trio">
				<h2>Jasper Lu</h2>
			</div>
			<div class="box trio">
				<h2>Keshara Senanayake</h2>
			</div>
			<div class="box trio">
				<h2>Steve Zhu</h2>
			</div>
		</div>
	</section>
</template>
