<template name="homeold">
	<h1 style="letter-spacing:-10px" class="logo">
		bas<span>e</span>
	</h1>
	<!--<div class="box page-home">-->
	<div class="page-home">
		<form>
			<input type="text" placeholder="Buying shoes, selling hats,etc">
			<input type="submit" class="button" value="Search">
		</form>
	</div>
	<!--<a href="/sell/title" class="button">Sell</a>-->
	<!--</div>-->
</template>

<template name="home">
	<section class="body">
        <!--
		<div class="content">
			<div id="title" style="letter-spacing:-10px" class="title">
				bas<span>e</span>
			</div>
			<form id="search-form" action="/search">
				<input id="search" name="q" type="text" placeholder="Search...">
			</form>
		</div>
                -->
            <div class="right-column">
            {{> postBox}}
            {{> pageFeeds}}
        </div>
	</section>
</template>
