<template name="modalContainer">
<div style="display:none" id="modal-container">
    {{> modalOverlay}}
<div id="modal" role="dialog">
    <div class="modal-inner">
	{{> modalSignup}}
    </div>
</div>
</div>

</template>

<template name="modalInner">
</template>

<template name="modalOverlay">
<div id="modal-overlay"></div>
</template>

<template name="modalLogin">
<div class="modal-login">
    <h1>Welcome Back!</h1>
    <div id="fb-login">
    </div>
    <h3>or</h3>
    Username:
    <input type="text" />
    Password:
    <input type="password" />
    <input type="checkbox" /> Remember me
    <div class="button">Log In!</div>
    Not a member yet? <a>Sign up!</a>
</div>
</template>

<template name="modalSignup">
<div class="modal-signup">
    <h1>Join Our Network</h1>
    <div id="fb-login">
    </div>
    <h3>or</h3>
    First Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name:<br />
    <input type="text" name="first"class="halfInput" /><input type="text"name="last"class="halfInput" />
    Email:
    <input type="email"/>
    Password:
    <input  type="password" /> 
    Confirm Password:
    <input type="password"/>
    Birthday (mm/dd/yy):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zip Code:<br />
    <input type="text" style="width:44px"/><input type="text" style="width:44px"/><input type="text" style="width:44px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="width:80px"/>
    <div class="button">Sign Up!</div>
    Already a member? <a>Log in!</a>
</div>
</template>
