<template name="modalContainer">
<div style="display:none" id="modal-container">
    {{> modalOverlay}}
    <div class="modal" role="dialog">
        <div class="modal-inner">
            {{> modalBid}}
            {{> modalSignup}}
            {{> modalFeeds}}
        </div>
    </div>
</div>

</template>



<template name="modalFeeds">
<!--
    <div class="modal-container">
        {{> modalOverlay}}
        <div  class="modal" role="dialog">
        --> <div id='modal-feeds' class='modal-feeds' style="display:none"> <h1>Welcome to Base!</h1>
    <p>You have been automatically subscribed to the following feeds. Please unsubscribe to any that you are not interested in.</p>
    <ul id="modalFeedsList">
    {{#each feeds}}
    <a href="">
        <li name="{{this._id}}" class="checked">
        <div class="left"><i class="fa fa-{{this.icon}}"></i>
        </div>
        <div class="right">{{this.name}}</div>
        </li>
    </a>
    {{/each}}
</ul>
<div class="button">
    Accept
</div>
</div>
<!--
        </div>
    </div>
    -->
</template>

<template name="modalPic">
<div class="modal-container">
    {{> modalOverlay}}
    <div class="modal pic" role="dialog">
        <img src="{{profile.img}}">
    </div>
</div>
</template>

<template name="modalBid">
<div id='modal-bid' style="display:none">
    <h2>Make your Offer</h2>
    <!--
        <input id="offer" type="text" placeholder="Offer"/>
        <input id="location" type="text" placeholder="Location"/>
        -->
    <textarea id="message" placeholder="Send a message"></textarea>

    <div id="sendBid" class="button">Send</div>
    <!--code for this is in bid.js-->
</div>
</template>

<template name="modalInner">
</template>

<template name="modalOverlay">
<div class="modal-overlay"></div>
</template>

<template name="modalLogin">
<div class="modal-login">
    <h1>Welcome Back!</h1>
    <div id="fb-login">
    </div>
    <h3>or</h3>
    Username:
    <input type="text" />Password:
    <input type="password" />
    <input type="checkbox" />Remember me
    <div class="button">Log In!</div>
    Not a member yet? <a>Sign up!</a>
</div>
</template>

<template name="modalSignup">
<div id="modal-signup" style="display:none">
    <h1>Log in with your Facebook account!</h1>
    <div id="fb-login"><i class="fa fa-facebook-square"></i>Login with Facebook</div>
    <h5>Don't worry, we'll never post anything without your permission</h5>
    <!--
        <h3>or</h3>
        <form>
            First Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name:<br />
            <input type="text" name="first"class="halfInput" /><input type="text"name="last"class="halfInput" />
            Email:
            <input name="email"type="email"/>
            Password:
            <input name="password"  type="password" />
            Confirm Password:
            <input type="password"/>
            Birthday (mm/dd/yy):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zip Code:<br />
            <input type="text" name="mm" style="width:44px"/><input type="text"name="dd" style="width:44px"/><input type="text" name="yy"style="width:44px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="zip" style="width:80px"/>
        </form>
        <input class="button" type="submit" value="Sign Up!"/>
        Already a member? <a>Log in!</a>
        -->
</div>
</template>
