<template name="pageItemInbox">
    <h1>Offers for {{user}}</h1>
    {{#each items}}
        {{> itemsRow}}
    {{/each}}
</template>

<template name="itemsRow">
<a href = "/inbox/{{this._id}}">{{this.title}}</a>
{{this._id}}
<ul>
    {{#each offers}}
    <li><b>{{this.buyer}}</b></li>
    {{/each}}
</ul>
</template>

<template name="pageOffers">
<h1>Offers for {{item.title}}</h1>
<ul>
    {{#each offers}}
    <li><b>{{this.buyer}}</b><a href="/inbox/{{this.postId}}/{{this._id}}">See convo</a></li>

    {{/each}}
</ul>
</template>

<!--maybe i want to handle this as a pseduo-modal instead-->
<template name="pageNego">
NEEDS to be written so that the messages can be reactive
<h1>{{item.title}}</h1>
<h2>{{offer.offer}}</h2>

{{#each messages}}
<b>{{this.from}}:</b> {{this.text}} <br />
{{/each}}

</template>
