<!--TO DO : WRITE A FUNCTION TO MAKE THE OFFERS/MSGS ON THE PAGEITEMINBOX SHOW IN ORDER-->
<template name="pageItemInbox">
	<section class="pageItemInbox">
		<h1>Offers for {{user}}</h1>
		<div class="product-body">
			{{#each items}}
				{{#unless sold}}
					{{> itemsRow}}
				{{/unless}}
			{{/each}}
		</div>
	</section>
</template>

<template name="itemsRow">
	<div class="row">
		<div class="row-left">
			<a class="row-thumbnail" href="/post/{{_id}}">
				Selling: {{title}}
				<br><br>
				<img class="product-img" src="{{imageUrl}}" />
			</a>
			<div id="mark-sold">Mark as sold</div>
		</div>
		<div class="row-right">
			{{#each offers}}
				<a class="row-details" href="/inbox/{{postId}}/{{buyerId}}">{{buyer}}</a>
			{{/each}}
		</div>
	</div>
</template>

<template name="pageOffers">
	<h1>Offers for {{item.title}}</h1>
	<ul>
		{{#each offers}}
		<li>
			<b>{{this.buyer}}</b>
			<a href="/inbox/{{this.postId}}/{{_id}}">See convo</a>
		</li>
		{{/each}}
	</ul>
</template>

<template name="offersSidebar">
	<div class="left-sidebar">
		<a class="row-details" href="/inbox">All offers</a>
		{{#each offers}}
			<a class="row-details" href="/inbox/{{postId}}/{{buyerId}}">{{buyer}}</a>
		{{/each}}
	</div>
</template>

<!--maybe i want to handle this as a pseduo-modal instead-->
<template name="pageNego">
	<div class="pageNego">
		<h1>{{item.title}}</h1>
		<!--<h2>{{offer.offer}}</h2>-->
		{{> offersSidebar}}
		<div class="conversation">
			<div id="messages-container">
				{{#each messages}}
					{{> message}}
				{{/each}}
			</div>
			<div class="reply-box">
				<textarea id="message" placeholder="Message..."></textarea>
			</div>
		</div>
	</div>
</template>

<template name="message">
	<div class="message">
		<!--
		<div class="message-thumbnail">
			Img doesn't load bc of async callback
			<img src="{{img}}" />
		</div>-->
		<div class="message-text">
			<b>{{from}}:</b>
			{{text}}
		</div>
	</div>
</template>
