<template name="product">
  <div class="product-body">
    <div class="product-info">
      <table class="product-table">
	<tr>
            <td class="product-name">{{title}}</td>
	  <td>&nbsp;</td>
	</tr>
	<tr>
	  <td rowspan="2" class="product-table-left">
	    <img class="product-img" src="https://scontent-b-iad.xx.fbcdn.net/hphotos-prn2/1472912_392496540884825_988596881_n.jpg" />
            <div class="product-desc">{{description}}</div>

	  </td>
	  <td class="product-table-right">
	    <div class="product-box user-info">
	      <span class="product-box-title">SELLER</span> <a href="#">Andrew</a><br />
	      <div class="user-rating">
		<span class="seller-up">upvotes</span>
		<span class="seller-down">downvotes</span>
	      </div>
	      <div class="prod-info">
		Posted: <em>calculate hours here</em>
		<br />
		User last active: <em>calculate minutes here</em>
	      </div>
	    </div>
	    <div class="product-box condition-new">
                <span class="product-box-title">CONDITION</span>{{condition}}
	    </div>
	    <div class="product-box">
                <span class="product-box-title">CURRENT BID</span> ${{item.so}}
	    </div>
	    <div class="product-box">
                <span class="product-box-title">BUY IT NOW</span>${{item.bin}}
	    </div>
            <!--brings up modal in modal.js backend will be in bid.js-->
	    <button id = "product-bid" class="product-button" style="margin-top:10px;">Offer</button>
	  </td>
	</tr>
	<tr>
	  <td class="product-table-location">
	    <div class="gmap">
	      <div class="gmap-header">Preferred Location</div>
	      <div class="gmap-map">
		<img src="http://maps.googleapis.com/maps/api/staticmap?center=41%20River%20Terrace,10282&zoom=14&size=300x200&maptype=roadmap&markers=color:red%7C41%20River%20Terrace,10282&sensor=false" />
	      </div>
	      <div class="gmap-text">
		<a href="#">Terry's</a>
		<br />
		(41 River Ter, Battery Park City, 10282)
	      </div>
	    </div>
	  </td>
	</tr>
      </table>

      <div class="related-item-box">
	<div class="related-items-title">Related Items</div>
	
	{{> relatedItem}}
	{{> relatedItem}}
	{{> relatedItem}}
	{{> relatedItem}}
      </div>
    </div>
  </div>
</template>



<template name="relatedItem">
  <div class="related-item">
    <span class="related-selling">SELLING</span> <a href="#">More Shoes</a>
    <br />
    <img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-prn2/1472912_392496540884825_988596881_n.jpg" />
    <br />
    Posted by <a href="#">Andrew</a>
    <br />
    (<strong>10282</strong>, Battery Park City)
  </div>
</template>
