<template name="profile">
	<section class="body">
		<div class="left-column">
			{{> userInfo}}
		</div>
		<div class="right-column profile">
			<div style="margin-top:24px">
                            {{> homeFeed}}
			</div>
		</div>
	</section>
</template>

<template name="userInfo">
	<div class="userInfo">
		<img src={{user.profile.img}} />
		<h2>{{user.profile.name}}</h2>
		<ul>
			<a target="_blank" href='https://www.facebook.com/{{user.profile.fbId}}'>
				<li class="fb"> <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp; <b>View Facebook Profile</b>
				</li>
			</a>
		</ul>
	</div>
</template>
