<template name="messages">
	<section class="messages-container">
		<h1>{{item.title}}</h1>
		<!--<h2>{{offer.offer}}</h2>-->
		{{> messagesSidebar}}
		{{> messagesConversation}}
	</section>
</template>

<template name="messagesSidebar">
	<div class="messages-sidebar">
		<a class="messages-sidebar-item" href="/inbox">All offers</a>
		{{#each offers}}
			<a class="messages-sidebar-item" href="/inbox/{{_id}}">{{buyer}}</a>
		{{/each}}
	</div>
</template>

<template name="messagesConversation">
	<div class="messages-conversation">
		<div class="messages-wrapper">
			{{#each messages}}
				{{> message}}
			{{/each}}
		</div>
		<div class="messages-reply-container">
			<textarea id="messages-reply" placeholder="Message..."></textarea>
		</div>
	</div>
</template>

<template name="message">
	<div class="message">
		<div class="message-text">
			<b>{{poster}}:</b> {{text}}
		</div>
	</div>
</template>
