<template name="feed">
	<div class="pageFeeds">
		{{#each posts}}
			{{> feedPost}}
		{{/each}}
		{{#if moreResults}}
		<div id="showMoreResults" style="margin-left: 25px;">
        <span class="loading">Loading...</span>

    </div>
    {{/if}}
	</div>
</template>
