<template name="pageAddProduct">
	<table class="steps">
		<tr>
			<!-- fix the changing to diff spots later -->
			<td>
				<a href="/sell/title">
					<div class="step-circle active">
						<h1>1</h1>
					</div>
				</a>
			</td>
			<td>
				<a href="/sell/info">
					<div class="step-circle">
						<h1>2</h1>
					</div>
				</a>
			</td>
			<td>
				<a href="/sell/preview">
					<div class="step-circle">
						<h1>3</h1>
					</div>
				</a>
			</td>
		</tr>
	</table>
	<div class="box page-add-product">
		<!--This stuff will probably be moved to routing to make the code cleaner or some other, more effcient way-->
		{{> yield region='sellYield'}}
	</div>
</template>
